# JavaScript
node_modules

# Jekyll
_site
.jekyll-metadata
.jekyll-cache/*

# Responsive image output (resized images)
_img/res/*
!_img/res/raw/
!_img/res/raw/*
_img/res/raw/.DS_Store
_data/responsiveMetadata.json

# These folders contain built files
/js
/css
/img

.sass-cache/*

# Used for publishing to briannorlander.com
CNAME
!docs/CNAME

# Personal useage
todos.md

# IDE
**.DS_Store

_travel/2017-08-21-germany-austria-switzerland-2017.html

_img/res/raw/travel/germany
_img/res/1600/travel/germany
_img/res/800/travel/germany
_img/res/400/travel/germany
_img/res/20/travel/germany

img/res/raw/travel/germany
img/res/1600/travel/germany
img/res/800/travel/germany
img/res/400/travel/germany
img/res/20/travel/germany

docs/img/res/raw/travel/germany
docs/img/res/1600/travel/germany
docs/img/res/800/travel/germany
docs/img/res/400/travel/germany
docs/img/res/20/travel/germany
