---
title: Brian Norlander
layout: default
is_home: true
---

<div class="content">
	<div class="text">
		<h2>I am an undergraduate student at the <a href="https://twin-cities.umn.edu/">University of Minnesota</a> studying computer science and will be graduating in December 2018. My primary area of interest is creating data mining and machine learning applications. I like web development too!</h2>
	</div>
	{% include collection.html title="Travel" url="/travel/" collection=site.travel feature="first" %}
	{% include collection.html title="Projects" url="/projects/" collection=site.projects %}

</div>