---
title: Brian Norlander
layout: default
is_home: true
regenerate: true
---

<div class="content">
    <section class="text">
        <h2>
            Software Engineer at <a href="https://picnic.app/nl/">Picnic Technologies</a> in Amsterdam.
            Previously at <a href="https://www.rakuten.com/">Rakuten</a> in Tokyo.
            Studied at <a href="https://www.ust.hk/">HKUST</a> in Hong Kong and Computer Science at the <a href="https://twin-cities.umn.edu/">University of Minnesota</a>.
            <br>
            <br>
            <h2>
                Software engineer with 3+ years of experience building web applications in Java, Kotlin, Springboot, MongoDB, Rabbitmq and more.<br>
                I love tech, traveling, and ramen. This is where I (infrequently) write about these things.
                <br>
                <br>
                Email me at <a href="mailto:bpnorlander@gmail.com">bpnorlander@gmail.com</a>
            </h2>
        </h2>
    </section>

    {% include collection.html title="Travel" url="/travel/" collection=site.travel feature="first" %}
    {% include collection.html title="Projects" url="/projects/" collection=site.projects %}
    {% include collection.html title="Lists" url="/lists/" collection=site.lists %}
    {% include collection.html title="Writing" url="/writing/" collection=site.writing %}
</div>