<footer>
    <div class="content">
        <section>
            <hr>
        </section>
    </div>
    <div class="content">
        <div class="footer-wrapper">
            <div class="about-wrapper">
                <h2>
                    <a href="/">Brian<br>Norlander</a>
                </h2>
            </div>
            <div class="links-wrapper">
                <div class="pages">
                    <h3>
                        <a href="/travel/">Travel</a> ·
                        <a href="/projects/">Projects</a> ·
                        <a href="/lists/">Lists</a> ·
                        <a href="/writing/">Writing</a>
                    </h3>
                </div>
                <div class="links">
                    <h3>
                        {% for account in site.data.social %}
                        <a href="{{ account.url }}">{{ account.title }}</a>
                        {% if forloop.index0 < 4 %} · {% endif %}
                        {% endfor %}
                    </h3>
                </div>
            </div>
        </div>
    </div>
</footer>