---
title: Philippines, Winter 2017
start_date: 2017-12-28
end_date: 2018-01-12
cities:
  - Manila
  - Davao City
  - Iloilo City
  - Hong Kong
featured_image: travel/philippines/pineapple_3.jpg
hero_image: travel/philippines/pineapple_3.jpg
redirect_from: 
  - /philippines/
---

<section class="text">
	<p> During the winter break of my Junior year of college I took a trip to the Philippines and Hong Kong with my uncle, cousin and cousin's boyfriend. </p>
	<p>We visited 6 islands in the Philippine archipelago including Luzon, Mindinau, Panay, Negros, Samal, and Corregidor. Additionally we took a flight up to Hong Kong for one day. We saw a lot!</p>
</section>

<section class="text">
    <h2>Manila</h2>
    <h3>People, Culture, Chaos</h3>
    <p>Manila, the capitol of the Philippines, has the most dense city proper in the world and is one of the oldest continuously inhabited cities on earth.</p>
    <p>Our first night was spent in Manila. We were welcomed with humidity, diesel smoke, and crowded streets. This was my first time being in Asia and it was a huge culture shock. Exhausted from a 24 hour flight and 13 hour time difference, the next day we walked around the Baclaran Market and took the MRT in a loop around the city.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/philippines/manila_1.JPG" class="with-viewer" %}
            {% include resimg.html src="travel/philippines/manila_2.JPG" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> A view from the MRT (Metro Transit Rail).
        <strong>Right:</strong> Baclaran market, one of the largest markets in Manila.
    </h5>
</section>
<section class="text">
    <p>Later that afternoon our short stay in Manila ended and we boarded a flight for Davao City, the capital of Mindanao, the southern most island in the Philippines.</p>
</section>
<section class="text">
  <h2>Davao City</h2>
  <h3>Tropics, Fruit, Ocean</h3>
  <p>Davao City is located in the tropical rain forest climate and is home to many amazing fruits and animals. We got to try durian, pomelo, pineapple, papaya, mango, lasones, marang and bananas!</p>
  <p>We were picked up at the airport by Precey and Renee (my cousin's aunt and uncle, who aren't related to me).</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/philippines/davao_5.JPG" class="with-viewer" %}
            {% include resimg.html src="travel/philippines/samal_island_0.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> Riding the outrigger from Davao to Samal Island
        <strong>Right:</strong> View across the bay
    </h5>
</section>
<section class="text">
  <p>The next morning we boarded the outrigger and headed off to Samal Island. We spent most of the day swimming, hanging out in the shade, and of course, eating a lot of amazing Filipino food!</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/philippines/samal_island_7.JPG" class="with-viewer" %}
            {% include resimg.html src="travel/philippines/samal_island_14.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> View of the waterslide and diving board
        <strong>Right:</strong> Erik and I
    </h5>
</section>
<section>
    {% include resimg.html src="travel/philippines/samal_island_18.jpg" class="with-viewer" %}
    <h5>The whole gang!</h5>
</section>
<section class="text">
  <p>The next day we took to the streets of Davao in search of the infamous <a href="https://en.wikipedia.org/wiki/Durian">durian</a>. Durian is said to "taste like heaven and smell like hell". Taking this as a challenge we sniffed out the first durian stand we came across. </p>
  <p>If you don't wear gloves while eating durian your hands will smell for days. It is also banned in most hotels!
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/philippines/durian_2.JPG" class="with-viewer" %}
            {% include resimg.html src="travel/philippines/durian_4.JPG" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> Cutting up the durian
        <strong>Right:</strong> Erik was skeptical
    </h5>
</section>
<section class="text">
  <p>That night family treated us to an authentic Filipino dinner. Chicken Adobo (my favorite), mango smoothies, marang, pomelo, and many other traditional Filipino dishes were served.</p>
</section>
<section>
    {% include resimg.html src="travel/philippines/davao_family_4.JPG" class="with-viewer" %}
    <h5>Authentic Filipino meal</h5>
</section>
<section class="text">
  <h2>Mindanao</h2>
  <h3>Volcanoes, Agriculture, Roads</h3>
  <p>Renee took us on a cross country trip from Davao City to Lake Sebu. On the way we saw a lot. Here are a few of my favorite moments.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/philippines/davao_drive_10.JPG" class="with-viewer" %}
            {% include resimg.html src="travel/philippines/davao_drive_6.JPG" class="with-viewer" %}
        </div>
    </div>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/philippines/davao_drive_75.JPG" class="with-viewer" %}
            {% include resimg.html src="travel/philippines/davao_drive_23.JPG" class="with-viewer" %}
        </div>
    </div>
</section>
<section class="text">
  <p>Along the way we stopped at a fruit stand. This is literally the best pineapple, mango and bananas I have ever had!</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/philippines/fruit_stand_5.JPG" class="with-viewer" %}
            {% include resimg.html src="travel/philippines/fruit_stand_11.JPG" class="with-viewer" %}
        </div>
    </div>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/philippines/davao_drive_72.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/philippines/davao_drive_8.JPG" class="with-viewer" %}
        </div>
    </div>
    <h5>I think I saw more smiling people on this drive than I have seen all year at college.</h5>
</section>
<section class="text">
  <h2>Lake Sebu</h2>
  <h3>Lakes, Rain Forest, Fish</h3>
  <p>Lake Sebu is a remote lake on the western side of Mindanao. The surrounding region is very rural and recently has had some terrorism scares. It is close to <a href="https://en.wikipedia.org/wiki/Battle_of_Marawi">Marawi City.</a></p>
</section>
<section>
    {% include resimg.html src="travel/philippines/davao_drive_64.jpg" class="with-viewer" %}
    <h5>Rice terraces</h5>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/philippines/zipline_14.JPG" class="with-viewer" %}
            {% include resimg.html src="travel/philippines/zipline_11.JPG" class="with-viewer" %}
        </div>
    </div>
    <h5>Highest zipline in Asia</h5>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/philippines/sebu_falls_2.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/philippines/sebu_falls_7.jpg" class="with-viewer" %}
        </div>
    </div>
</section>
