---
title: Germany, Austria and Switzerland, Summer 2017
start_date: 2017-08-21
end_date: 2017-09-01
cities:
  - Münich
  - Salzburg
  - Mürren
  - Lucerne
  - Bern
  - Füssen
featured_image: travel/germany/jungfrau_mountains_1_featured.jpg
hero_image: travel/germany/jungfrau_mountains_1.jpg
redirect_from: 
  - /germany/
image_roots:
  - germany
---

<!-- Intro -->
<section class="text">
	<p> At the end of the summer after my Sophomore year of college I took a trip to Germany, Austria and Switzerland.</p>
	<p>I primarily traveled by train between cities and within cities I walked or took public transit. During my travels I visited Münich, Salzburg, Innsbruck, St. Anton Am Arlberg, Lucerne, Lauterbrunnen Valley, Mürren, Bern, Füssen and Neuschwanstein Castle.</p>
</section>

<!-- Munich -->
<section class="text">
    <h2>Münich</h2>
    <h3>The Capital of Bavaria</h3>
    <p>The capital of the southern German state of Bavaria, on the banks of the Isar River and north of the Alps, Münich is the third largest city in Germany. First settled in 1158, Munich is now rated one of the most livable cities in the world.</p>
    <p>Things Munich is famous for: BMW's headquarters, Bayern Münich Football Club, many museums and gardens, and of course Oktoberfest!</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/munich_rathaus_3.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/munich_street_3.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> Rathaus at the city centre
        <strong>Right:</strong> Street crossing the Isar River
    </h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/munich (33).jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/munich (50).jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/munich (4).jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> View from our hotel room. 
        <strong>Center: </strong> The River Isar. 
        <strong>Right:</strong> View from the parliment building.
    </h5>
</section>
<section class="text">
    <p>Munich is famous for their beer. Although we weren't there for the annual Oktoberfest celebration we got a couple pints at the famous Hofbrauhaus.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/munich (30).jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/munich_hofbrauhaus_1.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Hofbrauhaus</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/munich_bismark.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/munich_drink.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> Otto Von Bismark, nicknamed the "Iron Chancellor" for unifying Germany
        <strong>Right:</strong> Lunch at a quiet cafe
    </h5>
</section>
<section class="text">
    <p>We left Münich by train across southern Bavaria to Salzburg. This region was absolutely gorgeous. It was a mix of corn fields and mountains off in the distance. This region was very green and wet. From the trees to the farms everything was lush, often having a deep, green color.</p>
</section>

<!-- Salzburg -->
<section class="text">
    <h2>Salzburg</h2>
    <h3>The Salt Fortress</h3>
    <p>Salzburg literally means "Salt fortress". A long time producer of salt and located at a strategic position at the base of the alps, Salzburg has one of the best preserved city centers in the world. Salzburg is the birth place of Mozart and where the Sound of Music was filmed. Many locals wear the iconic <a href="https://en.wikipedia.org/wiki/Lederhosen">lederhosen</a> breaches.</p>
    <p>Salzburg is a popular tourist destination, often having live music and plays in the summer. The city also has a multitude of Universities and a large student population.</p>
</section>
<section>
    {% include resimg.html src="travel/germany/salzburg_view_5.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/salzburg (9).jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/salzburg (17).jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Urban exploring</h5>
</section>
<section class="text">
    <p>Hohensalzburg fortress was first built in 1077 and once part of the Holy Roman Empire. It was later sieged during the German peasant's War in 1525, strengthened during the 30 Years War, surrendered to Napoleon in 1800, used in World War 1 to house Italian prisoners and now finally is accessible to the public via a steep rail car and hosts many events and tours.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/salzburg_castle_1.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/salzburg_locks.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> Hohensalzburg fortress
        <strong>Right:</strong> Locks
    </h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/salzburg_beer_1.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/salzburg_beer_2.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Austrian Beers</h5>
    {% include resimg.html src="travel/germany/salzburg_red_bull.jpg" class="with-viewer" %}
    <h5>The headquarters of Red Bull is located near Salzburg.</h5>
    {% include resimg.html src="travel/germany/redbull.jpg" class="with-viewer" %}
    <h5>Red Bull Headquarters</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/salzburg_mozart_1.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/salzburg_canon.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> Birthplace of Mozart
        <strong>Right:</strong> Canon watching over the city from Hohensalzburg fortress
    </h5>
</section>
<section class="text">
    <p>The last day in Salzburg we took the Sound of Music tour. The tour stopped by many of the locations that were filmed in the movie, uncovering many of the tricks used to shoot the flim. We stopped in Mondsee, a small town nestled in the foothills of the Austrian Alps.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/mondsee_church.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/mondsee_coffee.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> Church in Mondsee where the wedding was filmed in the Sound of Music
        <strong>Right:</strong> Enjoying some coffee and pastries
    </h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/salzburg (32).jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/salzburg (33).jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Do you recognize these places from The Sound of Music?</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/salzburg (3).jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/salzburg (23).jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/salzburg (34).jpg" class="with-viewer" %}
        </div>
    </div>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/salzburg (40).jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/salzburg (54).jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/salzburg (55).jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Center: </strong>Foothills of the Austrian Alps
        <strong>Left + Right: </strong>Made some new friends!
    </h5>
</section>
<section class="text">
    <p>We left Salzburg and headed directly west into the heart of the Alps. Our train ride took the whole day and was stunning the entire way. In some ways the train ride is more enjoyable than exploring the cities. I definitely recommend traveling by train if you are in a place that has beautiful scenery. Often traveling by plane you cannot see the scenery up close and taking a car or bus you are limited by where the roads exist. On train you can slice through beatiful, peaceful countryside that is untouched by motor vehicles. Each picturesque town we passed looked like it belonged in a fairy tale.</p>
</section>

<!-- Alps -->
<section class="text">
    <h2>Alps</h2>
    <h3>Mountains, Trains, Serenity</h3>
    <p>Riding the train from Salzburg to Mürren through the Austrian and Swiss alps was the most beautiful scenery I've ever seen. While traveling though countless mountain villages, tunnels, and valleys we made our way across western Austria, briefly passing through Lichtenstein and then to Switzerland.</p>
    <p>Our first stop was in Innsbruck. Innsbruck is located in western Austria in the Inn valley. It is world famous for it's winter sports center.</p>
</section>
<section>
    {% include resimg.html src="travel/germany/innsbruck_street_1.jpg" class="with-viewer" %}
    <h5>Innsbruck</h5>
</section>
<section class="text">
    <p>The next stop was St. Anton Am Arlberg, a ski resort village in the Tyrolean Alps. In the summer it is a popular destination for hikers and mountain bikers. We had about 3 hours in St. Anton Am Arlberg and made the most of it by taking a gondola up the mountain and hiking towards the top.</p>
    <p>Standing on the continential divide of the Alps was breathtaking and a bit surreal. A moment I won't forget.</p>
</section>
<section>
    {% include resimg.html src="travel/germany/st_anton_am_arlberg_1.jpg" class="with-viewer" %}
    <h5>Above St. Anton Am Arlberg</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/st_anton_am_arlberg_5.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/st_anton_am_arlberg_7.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        Continental divide: 
        <strong>Left:</strong> Looking east
        <strong>Right:</strong> Looking west
    </h5>
    {% include resimg.html src="travel/germany/st_anton_am_arlberg_cow_sign.jpg" class="with-viewer" %}
    <h5>There were cows roaming everywhere in those mountains</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/stanton (7).jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/st_anton_am_arlberg_4.jpg" class="with-viewer" %}
        </div>
    </div>
</section>
<section class="text">
    <p>I now understand why Switzerland is famous for its chocolate and cheese. Many of the mountainsides were full of cows who were free to roam and whose bells could be heard from afar.</p>
    <p>After exiting Austria we entered Switzerland and passed by many lakes, corn fields, and more mountains. Here are a few of my favorite shots from the train. I was surprised by how much corn grew in Switzerland.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/train_1.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/train_5.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Corn fields</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/train_6.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/train_2.jpg" class="with-viewer" %}
        </div>
    </div>
</section>

<!-- Lucerne -->
<section class="text">
  <h2>Lucerne</h2>
  <h3>Bridges, Lights, Lakes</h3>
  <p>The city of Lucerne is centered around the River Reuss which flows into Lake Lucerne. Lucerne is home to the oldest covered bridge in Europe, built in 1333. The people hear speak Swiss German.</p>
  <p>Lucerne has many beautiful restaurants along the river, live music, lakeside walkways and old architecture.</p>
</section>
<section>
    {% include resimg.html src="travel/germany/lucerne_river_2.jpg" class="with-viewer" %}
    <h5>The River Reuss</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/lucern (13).jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/lucern (2).jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/lucern (28).jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Lucern is beautiful day and night</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/lucern (57).jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/lucern (37).jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/lucern (58).jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Lucern is home to the oldest wooden covered bridge in Europe</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/food (6).jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/food (12).jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>Swiss dinner 
        <strong>Right: </strong>Swiss breakfast
    </h5>
</section>
    <p>After only spending about half a day in Lucerne we boarded the train to go to Lauterbrunnen Valley. After first passing by multiple large lakes and more beautiful scenery we arrived in Interlaken. Once in Interlaken we boarded a smaller, local train to get to Lauterbrunnen. Once in Lauterbrunnen we took a gondola up the side of a mountain and then took yet another train to get to Mürren.</p>
</section>

<!-- Lauterbrunnen Valley -->
<section class="text">
  <h2>Lauterbrunnen Valley</h2>
  <h3>Mountains, Waterfalls, Glaciers</h3>
  <p>We stayed in Mürren, a tiny Swiss village perched on top of a cliff overlooking the Lauterbrunnen Valley. At the end of the valley is the Jungfrau mountain, one of the largest mountains in all of Europe. Mürren is only accessible via gondola + train for most of the year.</p>
  <p>Nicknamed "The Top of Europe", Jungfraujoch is located on the saddle point between the Jungfrau and the Monch mountains. At 11,371ft (3,454m) you must take a train up to 9,000ft and then board another train which travels through a tunnel built directly into the side of the mountain that twists for over 30 minutes in the dark until you reach the end station which is an observatory with a backside viewof the largest glacier in Europe.</p>
</section>
<section>
    {% include resimg.html src="travel/germany/jungfrau_mountains_2.jpg" class="with-viewer" %}
    <h5>From left to right: Eiger, Jungfrau, Monch. Jungfraujoch lies between the Jungfrau and the Monch.</h5>
    {% include resimg.html src="travel/germany/jungfrau_mountains_4.jpg" class="with-viewer" %}
    <h5>Directly below is the town of Wengen, on the valley floor in Lauterbrunnen, and off in the distance on the other side of the valley is Mürren.</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/jungfrau_mountains_7.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/jungfrau_mountains_10.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/jungfrau_mountains_3.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
      <strong>Left + Middle: </strong>Looking back towards Interlaken
      <strong>Right: </strong>Gimmelwald, a famous ski resort
    </h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/jungfrau_mountains_13.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/jungfrau_mountains_6.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/jungfrau_train_1.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
      <strong>Right: </strong>Train that cut through the mountain to get on top of Europe
    </h5>
    {% include resimg.html src="travel/germany/jungfrau_glacier_1.jpg" class="with-viewer" %}
    <h5>Largest glacier in Europe, from Jungfraujoch.</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/jungfrau (17).jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/jungfrau (47).jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>On top of Europe</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/jungfrau_ice_1.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/jungfrau_ice_2.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Inside Jungfraujoch</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/jungfrau (60).jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/jungfrau (59).jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/jungfrau (57).jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Guess which one is a real cow :D</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/lauterbrunnen_falls_4.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/lauterbrunnen_falls_3.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Lauterbrunnen falls</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/food (2).jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/food (7).jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>Swiss dinner 
        <strong>Right: </strong>Swiss breakfast
    </h5>
</section>
<section class="text">
    <p>On our last day in Lauterbrunnen Valley, before heading to Bern, I hiked from Mürren to Lauterbrunnen instead of taking the train. This hike took me across ski runs and cow pastures as I made my way through forests and meadows.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/murren_hike_3.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/murren_hike_4.jpg" class="with-viewer" %}
        </div>
    </div>
</section>

<!-- Bern -->
<section class="text">
    <h2>Bern</h2>
    <h3>Bears, Fountains, Cheese</h3>
    <p>Bern, the capital of Switzerland, is ranked in the top 10 for cities with the highest qualities of life. It's old town was built in the 1400's and boasts many fountains, a large clock tower, and many other historic buildings.</p>
    <p>An old friend of mine from the states, JP, married a girl in Switzerland and moved there about a year before we visited. He was living in a small town near Bern and we met up with him in Bern while he gave us a tour of his city and shared his experiences living in Switzerland.</p>
</section>
<section>
    {% include resimg.html src="travel/germany/bern_rose_garten_2.jpg" class="with-viewer" %}
    <h5>View of Bern from the Rosegarten</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/bern_jp.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/food (11).jpg" class="with-viewer" %}
          </div>
    </div>
    <h5>
      <strong>Left: </strong>We met up with JP
      <strong>Right: </strong>Potential dinner
    </h5>
</section>
<section class="text">
    <p>JP showed us around Bern. We are some street food, saw their enormous skate park, and checked out one of their universities. All while he told us about the differences between Swiss and American lifestyles and customs.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/bern_pastries.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/bern_symbol.jpg" class="with-viewer" %}
          </div>
    </div>
    <h5>
      <strong>Left: </strong>Our favorite snack, coffee and pastries
      <strong>Right: </strong>Each province (canton) in Switzerland has their own symbol and coat of arms
    </h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/food (4).jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/food (9).jpg" class="with-viewer" %}
        </div>
    </div>
</section>
<section class="text">
    <p>Bern is famous for its long history with bears. Apparently there used to be many bears in the mountains nearby. Today all that is left of the bears is a small, sad pit with a few bears lounging around.</p>
</section>

<!-- Fussen -->
<section class="text">
  <h2>Füssen</h2>
  <h3>Castles, Murder Mystery, Fairy Tale</h3>
  <p>Füssen is the home of the eclectic Neuschwanstein Castle and Hohenschwangau Castle. Neuschwanstein Castle is the castle that inspired Walt Disney. It is a 19th-century Romanesque Revival placed on a rugged hill above the village of Hohenschwangau in southwest Bavaria, Germany.</p>
  <p>The palace was commissioned by King Ludwig II of Bavaria as a retreat and in honor of Richard Wagner. Ludwig paid for the palace out of his personal fortune and by means of extensive borrowing rather than using Bavarian public funds. The castle was intended as a home for the king until he died in 1886. It was open to the public shortly after his death. Kind Ludwig ended up dying of mysterious causes after only living in his lavish palace for 11 days.</p>
</section>
<section>
    {% include resimg.html src="travel/germany/fussen_mountains_2.jpg" class="with-viewer" %}
    <h5>Fog pouring over the foothills of the Alps</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/fussen_castle_3.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/fussen_mountains_1.jpg" class="with-viewer" %}
          </div>
    </div>
    <h5>
      <strong>Left: </strong>Neuschwanstein Castle
      <strong>Right: </strong>Misty mountains
    </h5>
</section>
<section class="text">
    <p>Strictly no photography was allowed in the castles. Because of this I have no photos of the beautiful interior, which included many intricate woodwork and masterful murals. The beautiful castle contrasted to sharply with the life of King Ludwig, who borrowed himself into 14 million marks of debt, even giving political favors to Otto Von Bismark in order to fund his personal castle.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/fussen_castle_1.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/fussen_fountain.jpg" class="with-viewer" %}
          </div>
    </div>
    
    {% include resimg.html src="travel/germany/fussen_view.jpg" class="with-viewer" %}
    <h5>View from Hohenschwangau Castle</h5>
    <p>We left Füssen and for Munich, where we boarded a plane the next day headed for Minneapolis.</p>
</section>
