---
title: Germany, Austria and Switzerland, Summer 2017
start_date: 2017-08-21
end_date: 2018-09-01
cities:
  - Munich
  - Salzburg
  - Murren
  - Lucerne
  - Bern
  - Fussen
featured_image: travel/germany/jungfrau_mountains_1.jpg
hero_image: travel/germany/jungfrau_mountains_1.jpg
redirect_from: 
  - /germany/
---

<!-- Intro -->
<section class="text">
	<p> At the end of the summer after my Sophomore year of college my mom and I took a trip to Germany, Austria and Switzerland </p>
	<p>We primarily took the train between cities and within cities we talked or took public transit. During our travels we saw a lot, including Munich, Salzburg, Innsbruck, St. Anton Am Arlberg, Lucerne, Lauterbrunnen Valley, Bern, Fussen and Neuschwanstein Castle.</p>
</section>

<!-- Munich -->
<section class="text">
    <h2>Munich</h2>
    <h3>History, Modern, Beer</h3>
    <p>The capital of the southern German state of Bavaria, on the banks of the Isar River and north of the Alps, Munich is the third largest city in Germany. First settled in 1158, Munich is now rated one of the most livable cities in the world.</p>
    <p>Things Munich is famous for: BMW's headquarters, Bayern Munich Football Club, many museums and gardens, and of course Oktoberfest!</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/munich_rathaus_3.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/munich_street_3.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> Rathaus at the city centre
        <strong>Right:</strong> Street crossing the Isar River
    </h5>
    <p>Munich is famous for their beer. Although we weren't there for the annual Oktoberfest celebration we got a couple pints at the famous Hofbrauhaus.</p>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/munich_river.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/munich_hoffbrau_haus.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> View of the Isar River
        <strong>Right:</strong> Beer at the Hofbrauhaus
    </h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/munich_bismark.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/munich_drink.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> Otto Von Bismark, nicknamed the "Iron Chancellor" for unifying Germany
        <strong>Right:</strong> Lunch at a quiet cafe
    </h5>
    <p>We left Munich by train across southern Bavaria to Salzburg. This region was absolutely gorgeous, a mix of corn fields and mountains off in the distance everything was very green.</p>
</section>

<!-- Salzburg -->
<section class="text">
    <h2>Salzburg</h2>
    <h3>Old town, Lederhosen, Salt</h3>
    <p>Salzburg literaly means "Salt fortress". A long time producer of salt and located at a strategic position at the base of the alps Salzburg has one of the best preserved city centers in the world. Salzburg is the birth place of Mozart and the Sound of Music was filmed here. Many people that live here wear the iconic <a href="https://en.wikipedia.org/wiki/Lederhosen">lederhosen</a> breaches.</p>
    <p>Salzburg is a popular tourist destination, often having live music and plays in the summer. The city also has a multitude of Universities and a large student population.</p>
</section>
<section>
    {% include resimg.html src="travel/germany/salzburg_view_5.jpg" class="with-viewer" %}
    <h5>Salzburg is famous for its baroque architecture</h5>
    <p>Watching over the old town sits Hohensalzburg fortress, first built in 1077 and part of the Holy Roman Empire. Sieged during the German peasant's War in 1525, then strengthened during the 30 Years War, surrendered to Napoleon in 1800, used in World War 1 to house Italian prisoners, it now is accessible via a steep rail car and hosts many events and tours.</p>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/salzburg_castle_1.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/salzburg_locks.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> View of Hohensalzburg fortress
        <strong>Right:</strong> Locks
    </h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/salzburg_beer_1.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/salzburg_beer_2.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>More beer!</h5>
    {% include resimg.html src="travel/germany/salzburg_red_bull.jpg" class="with-viewer" %}
    <h5>A Red Bull store. Salzburg is near the headquarters of Red Bull, I had no idea before coming here</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/salzburg_mozart_1.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/salzburg_canon.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> Birthplace of Mozart
        <strong>Right:</strong> Canon watching over the city from Hohensalzburg fortress
    </h5>
    <p>The last day in Salzburg we took the Sound of Music tour. The tour stopped by many of the locations that were filmed in the movie, uncovering many of the tricks used in the film unknown the the laymen viewer.</p>
    <p>We stopped in Mondsee, a small town nestled in the foothills of the Alps.</p>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/mondsee_church.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/mondsee_coffee.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> Church in Mondsee where the wedding was filmed in the Sound of Music
        <strong>Right:</strong> Enjoying some coffee and pastries
    </h5>
    <p>We left Salzburg and headed directly west into the heart of the Alps. Our train ride took the the whole day and was stunning the whole trip. Each picturesque town we passed look straight out of a fairy tale.</p>
</section>

<!-- Alps -->
<section class="text">
    <h2>Alps</h2>
    <h3>Mountains, Trains, Serenity</h3>
    <p>Riding the train from Salzburg to Murren through the Austrian and Swiss alps was the most beautiful scenery I've ever seen. Traveling though countless mountain villages and passing through many tunnels and valleys we made our way across western Austria, briefly through Lichtenstein and then to Switzerland.</p>
    <p>Our first stop was in Innsbruck. Innsbruck is located in western Austria in the Inn valley, surrounded by large mountains. It is world famous for it's winter sports center.</p>
</section>
<section>
    {% include resimg.html src="travel/germany/innsbruck_street_1.jpg" class="with-viewer" %}
    <h5>Busy streets of Innsbruck</h5>
    <p>The next stop was St. Anton Am Arlberg, a ski resort and village in the Tyrolean Alps. In the summer it is a popular destination for hikers and mountain bikers.</p>
    <p>We had about 3 hours in St. Anton Am Arlberg and made the most of it by taking a gondola up the mountain and hiking up it.</p>
    {% include resimg.html src="travel/germany/st_anton_am_arlberg_1.jpg" class="with-viewer" %}
    <h5>View from the highpoint of the hike</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/st_anton_am_arlberg_5.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/st_anton_am_arlberg_7.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        On the continental divide
        <strong>Left:</strong> Looking east
        <strong>Right:</strong> Looking west
    </h5>
    {% include resimg.html src="travel/germany/st_anton_am_arlberg_cow_sign.jpg" class="with-viewer" %}
    <h5>There were cows roaming everywhere in those mountains</h5>
    <p>After exiting Austria we now entered Switzerland and passed by many lakes, corn fields, and more mountains. Here are a few of my favorite shots from the train.</p>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/train_1.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/train_5.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Swiss agricultural policy is highly regulated, punishing imports and encouraging domestic production</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/train_6.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/train_2.jpg" class="with-viewer" %}
        </div>
    </div>
</section>

<!-- Lucerne -->
<section class="text">
  <h2>Lucerne</h2>
  <h3>Bridges, Lights, Lakes</h3>
  <p>The city of Lucerne is centered around the River Reuss which flows into Lake Lucerne. Lucerne is home to the oldest covered bridge in Europe, built in 1333. The people hear speak Swiss German.</p>
  <p>Lucerne has many beautiful restaurants along the river, live music, lakeside walkways and old architecture.</p>
</section>
<section>
    {% include resimg.html src="travel/germany/lucerne_river_2.jpg" class="with-viewer" %}
    <h5>The River Reuss</h5>
    {% include resimg.html src="travel/germany/chocolate.jpg" class="with-viewer" %}
    <h5>First exposure to Swiss chocolate</h5>
    {% include resimg.html src="travel/germany/lucerne_lake.jpg" class="with-viewer" %}
    <h5>My mom and I in front of Lake Lucerne</h5>
    <p>After only spending about half a day in Lucerne we boarded the train to go to Lauterbrunnen Valley. After first passing by multiple large lakes and more beautiful scenery we arrived in Interlaken. Once in Interlaken we boarded a smaller, local train to get to Lauterbrunnen. Once in Lauterbrunnen we took a gondola up the side of a mountain and then took yet another train to get to Murren.</p>
</section>

<!-- Lauterbrunnen Valley -->
<section class="text">
  <h2>Lauterbrunnen Valley</h2>
  <h3>Mountains, Waterfalls, Swiss</h3>
  <p>We stayed in Murren, a tiny Swiss village perched on top of a cliff overlooking the Lauterbrunnen Valley and with a grand view of the Jungfrau mountain, one of the largest mountains in all of Europe. Murren is only accessible via gondola + train for most of the year.</p>
  <p>Nicknamed "The Top of Europe", Jungfraujoch is located on the saddle point between the Jungfrau and the Monch mountains. At 11,371ft (3,454m) you must take a train up to 9,000ft and then board another train which travels through a tunnel built directly into the side of the mountain that twists for over 30 minutes in the dark until you reach the end station which is an observatory that backs up to the largest glacier in Europe.</p>
</section>
<section>
    {% include resimg.html src="travel/germany/jungfrau_mountains_2.jpg" class="with-viewer" %}
    <h5>From left to right: Eiger, Jungfrau, Monch. You can barely see the observatory in the picture between the Jungfrau and Monch.</h5>
    {% include resimg.html src="travel/germany/jungfrau_mountains_4.jpg" class="with-viewer" %}
    <h5>Directly below is the town of Wengen, on the valley floor in Lauterbrunnen, and off in the distance on the other side of the valley is Murren.</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/jungfrau_mountains_7.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/jungfrau_mountains_10.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/jungfrau_mountains_3.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
      <strong>Left + Middle: </strong>Looking back towards Interlaken
      <strong>Right: </strong>Gimmelwald, a famous ski resort
    </h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/jungfrau_mountains_13.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/jungfrau_mountains_6.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/jungfrau_train_1.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
      <strong>Right: </strong>Train that cut through the mountain to get on top of Europe
    </h5>
    {% include resimg.html src="travel/germany/jungfrau_glacier_1.jpg" class="with-viewer" %}
    <h5>Largest glacier in Europe, from Jungfraujoch.</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/lauterbrunnen_falls_4.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/lauterbrunnen_falls_3.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Lauterbrunnen falls</h5>
    <p>On our last day in Lauterbrunnen Valley, before heading to Bern, I hiked from Murren to Lauterbrunnen instead of taking the train. This hike took me across ski runs and cow pastures as I passed many Swiss homes.</p>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/murren_hike_3.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/murren_hike_4.jpg" class="with-viewer" %}
        </div>
    </div>
</section>

<!-- Bern -->
<section class="text">
</section>
<section>
</section>
