---
title: Germany, Austria and Switzerland, Summer 2017
start_date: 2017-08-21
end_date: 2018-09-01
cities:
  - Munich
  - Salzburg
  - Murren
  - Lucerne
  - Bern
  - Fussen
featured_image: travel/germany/jungfrau_mountains_1.jpg
hero_image: travel/germany/jungfrau_mountains_1.jpg
redirect_from: 
  - /germany/
---

<section class="text">
	<p> At the end of the summer after my Sophomore year of college my mom and I took a trip to Germany, Austria and Switzerland </p>
	<p>We primarily took the train between cities and within cities we talked or took public transit. During our travels we saw a lot, including Munich, Salzburg, Innsbruck, St. Anton Am Arlberg, Lucerne, Lauterbrunnen Valley, Bern, Fussen and Neuschwanstein Castle.</p>
</section>

<section class="text">
    <h2>Munich</h2>
    <h3>Markets, Culture, Chaos</h3>
    <p>Our first day was in Munich.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/germany/munich_rathaus_3.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/germany/munich_street_2.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> A view from the MRT (Metro Transit Rail).
        <strong>Right:</strong> Baclaran market, one of the largest markets in Manila.
    </h5>
</section>