---
title: Philippines, Winter 2017
start_date: 2017-12-28
end_date: 2018-01-12
cities:
  - Manila
  - Davao City
  - Iloilo City
  - Hong Kong
featured_image: travel/philippines/pineapple_3.jpg
hero_image: travel/philippines/pineapple_3.jpg
redirect_from: 
  - /philippines/
---

<section class="text">
	<p> During the winter break of my Junior year of college I took a trip to the Philippines and Hong Kong with my uncle, cousin and cousin's boyfriend. </p>
	<p>We visited 6 islands in the Philippine archipelago including Luzon, Mindinau, Panay, Negros, Samal, and Corregidor. Additionally we took a flight up to Hong Kong for one day.</p>
</section>

<section class="text">
    <h2>Manila</h2>
    <h3>Markets, Culture, Chaos</h3>
    <p>Our first night was spent in Manila. We were welcomed with humidity, diesel smoke, and crowded streets. This was my first time being in Asia and it was a huge culture shock.</p>
    <p>The next day we walked around the Baclaran Market, took the MRT in a loop around the city, and checked out Qiapo church.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/philippines/manila_1.JPG" class="with-viewer" %}
            {% include resimg.html src="travel/philippines/manila_market_2.JPG" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left:</strong> A view from the MRT (Metro Transit Rail).
        <strong>Right:</strong> Baclaran market, one of the largest markets in Manila.
    </h5>
</section>