---
title: Macau, Fall 2018
start_date: 2018-09-08
end_date: 2018-09-08
cities:
  - Macau
featured_image: travel/macau/134A7431_featured.JPG
hero_image: travel/macau/134A7431.JPG
redirect_from: 
  - /macau/
---

<!-- Intro -->
<section class="text">
	<p>While on exchange I took a day trip to Macau from Hong Kong with two of my friends from school, Harrison and Tristen. We boarded the express ferry from Hong Kong bright and early on Saturday morning and got back very late that same night. We walked over 20km in one day and experienced much of what Macau had to offer.
</section>

<!-- Casinos, intro -->
<section class="text">
    <h2>Macau</h2>
    <p>Macau sits at the mouth of the Pearl River delta in the Guangdong region of Southern China, the most populated continuous metropolitan area in the world. Formerly a colony of Portugal, Ming China leased the territory as a trading post in 1557 to keep foreigners at an arms distance away from mainland China. Macau remained under Portuguese control until 1999 when it was returned to China. Macau is currently a special administrative region of China. That status expires in 2049.</p>
</section>
<section>
    {% include resimg.html src="travel/macau/134A7388 (1).JPG" class="with-viewer" %}
    <h5>Parts of Macau felt like a Caribbean city</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/macau/134A7399.JPG" class="with-viewer" %}
            {% include resimg.html src="travel/macau/20180908_124940.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        There were many traditional temples.
    </h5>
    {% include resimg.html src="travel/macau/134A7473.JPG" class="with-viewer" %}
    <h5>Largo do Senado</h5>
    {% include resimg.html src="travel/macau/134A7447.JPG" class="with-viewer" %}
    <h5>It's spooky to think everyone has a skeleton inside of them</h5>
    {% include resimg.html src="travel/macau/134A7461.JPG" class="with-viewer" %}
    <h5>
        Searching for something to eat. Most of the restaurants in this area of Macau had Chinese-only menus
    </h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/macau/134B7419.JPG" class="with-viewer" %}
            {% include resimg.html src="travel/macau/134A7557.JPG" class="with-viewer" %}
            {% include resimg.html src="travel/macau/20180908_124219.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Center: </strong>Tristen
    </h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/macau/20180908_133441.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/macau/20180908_133801.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/macau/20180908_135114.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Macau is one of the most dense and expensive countries in the world.</h5>
</section>

<!-- Casinos, intro -->
<section class="text">
    <h2>Portuguese Influence</h2>
    <p>Macau was previously held by Portugal until 1999. In Macau this is apparent in much of the architecture and restaurants. Below are a few of the buildings and streets from the colonial period.</p>
</section>

<section>
    {% include resimg.html src="travel/macau/Copy of 134A7500.JPG" class="with-viewer" %}
    <h5>Ruins of St. Paul's</h5>
    {% include resimg.html src="travel/macau/20180908_151233.jpg" class="with-viewer" %}
    <h5>In front of the Ruins of St. Paul's</h5>
    {% include resimg.html src="travel/macau/20180908_121012.jpg" class="with-viewer" %}
</section>

<section class="text">
    <p>
        In the center of Macau there is a large fort used for many years by the Portuguese to hold their trading post against other western countries attempting to control the trade in and out of China. It felt like something out of The Pirates of the Caribbean.
    </p>
</section>

<section>
    {% include resimg.html src="travel/macau/Copy of 134A7542.JPG" class="with-viewer" %}
    <h5>Monte Fort</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/macau/Copy of 134A7530.JPG" class="with-viewer" %}
            {% include resimg.html src="travel/macau/Copy of 134A7531.JPG" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/macau/Copy of 134A7543.JPG" class="with-viewer" %}
    <h5>Tristen, Harrison and me</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/macau/20180908_152353.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/macau/20180908_153110.jpg" class="with-viewer" %}
        </div>
    </div>
</section>

<section class="text">
    <h2>Getting lost</h2>
    <p>After we left the fort we decided to simply wander through Macau exploring and in search of some food. We saw a side of Macau that was not dominated by Casinos and lavish resorts.</p>
</section>

<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/macau/20180908_164834.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/macau/20180908_180723.jpg" class="with-viewer" %}
        </div>
    </div>
</section>
<section class="text">
    <p>For lunch we found a restaurant with a Chinese only menu and each randomly picked something. All of our dishes were delicious. I think mine was minced pork but I am not sure.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/macau/20180908_131253.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/macau/20180908_132113.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/macau/20180908_133425.jpg" class="with-viewer" %}
    {% include resimg.html src="travel/macau/GOPR1301.jpg" class="with-viewer" %}
    {% include resimg.html src="travel/macau/20180908_183612.jpg" class="with-viewer" %}
    <h5>We chose the hottest thing on the menu, a recommendation from the waitress.</h5>
    {% include resimg.html src="travel/macau/20180908_143022.jpg" class="with-viewer" %}
    <h5>Largo De Senado - The former Portuguese town center</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/macau/20180908_134003.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/macau/20180908_134120.jpg" class="with-viewer" %}
        </div>
    </div>
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/macau/20180908_134139.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/macau/20180908_134020.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Seafood market - there was a large variety of fresh seafood</h5>
    {% include resimg.html src="travel/macau/20180908_122516.jpg" class="with-viewer" %}
</section>

<!-- Casinos, intro -->
<section class="text">
    <h2>Gambling</h2>
    <p>
        Macau is the gambling capital of the world and is officially known as Macao Special Administrative Region of the People's Republic of China. Like Hong Kong, Macau is a part of China but has some autonomy from China. The economy of Macau heavily relies on gambling and tourism.</p>
</section>

<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/macau/20180908_115513.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/macau/134A7585.JPG" class="with-viewer" %}
        </div>
    </div>
    <h5>
        Day and night
    </h5>
    {% include resimg.html src="travel/macau/134A7584.JPG" class="with-viewer" %}
    <h5>Gambling capital of the world</h5>
    {% include resimg.html src="travel/macau/20180908_195353.jpg" class="with-viewer" %}
    <h5>I wasn't supposed to take this one :)</h5>
</section>

<section class="text">
    <p>
        Then we went back to Hong Kong taking the last ferry of the day. Hong Kong is such a great place to be because it's so close to many amazing places in Asia. 
    </p>
</section>

