---
title: Hong Kong, Fall 2018
start_date: 2018-08-29
end_date: 2019-01-01
cities:
- Hong Kong
featured_image: travel/hongkong/20180918_142851_featured.jpg
hero_image: travel/hongkong/20180918_142851.jpg
redirect_from:
- /hongkong/
image_roots:
- hongkong
---

<!-- Intro -->
<section class="text">
    <p> In the fall of 2018 I participated in an exchange program in Hong Kong at the Hong Kong University of Science and Technology. This would later inspire me to work abroad after my graduation.</p>
</section>

<!-- Campus -->
<section>
    <h2>Campus</h2>
    <p>
        The campus of Hong Kong University of Science and Technology (HKUST) was on the seaside of Clear Water Bay and away from the downtown area of Hong Kong. Early in the morning you could see the sun rise and at night you could hear the soft waves splashing against the shore. It was beautiful.
    </p>
</section>

<section>
    {% include resimg.html src="travel/hongkong/campus/20181130_164039.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hongkong/campus/20180915_183509.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hongkong/campus/20180915_183506.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        View from my dorm room
    </h5>
    {% include resimg.html src="travel/hongkong/campus/20181109_063740.jpg" class="with-viewer" %}
    <h5>Sunrise</h5>
</section>

<!-- City -->
<section class="text">
    <h2>City</h2>
    <p>The Hong Kong skyline is iconic. It is truly a city that never sleeps. The diversity within the buildings of this city is nothing short of incredible. I spent a lot of time wandering the city in search of good food, colorful markets and cozy streets.</p>
</section>

<section>
    {% include resimg.html src="travel/hongkong/city/20180907_171307.jpg" class="with-viewer" %}
    <h5>
        On the right is the <strong>International Finance Center</strong> (IFC) building. Famous for being the building that Batman falls out of in the Dark Knight.
    </h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hongkong/city/20180907_171311.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hongkong/city/20180907_171315.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/hongkong/city/20181118_173211.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hongkong/city/20180918_123215.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hongkong/city/20180907_171641.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>Pencil buildings
        <strong>Right: </strong>Chinese embassy
    </h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hongkong/city/20181223_092826.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hongkong/city/20181223_094653.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hongkong/city/20181223_080840.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        Remains of the Kowloon Walled City
    </h5>
    {% include resimg.html src="travel/hongkong/ocean/20180907_171230.jpg" class="with-viewer" %}
    <h5>
        Hong Kong Bay. On the left is the <strong>International Commerce Centre</strong> (ICC) building.
    </h5>
    {% include resimg.html src="travel/hongkong/ocean/20181208_094603.jpg" class="with-viewer" %}
    {% include resimg.html src="travel/hongkong/ocean/20181113_104715.jpg" class="with-viewer" %}
    <h5>
        The Port of Hong Kong is one of the busiest ports in the world and has been for a long time.
    </h5>
    {% include resimg.html src="travel/hongkong/city/20181223_144314.jpg" class="with-viewer" %}
    <h5>
        These older buildings in Kowloon provide a sharp contrast to the modern skyscrapers seen earlier on Hong Kong Island.
    </h5>
</section>

<!-- Markets -->
<section class="text">
    <h2>Markets</h2>
    <p>Hong Kong has many markets including the famous Ladies Market, Bird Market, Flower Market, Jade Market, Temple market, and many more local markets. A sharp contrast to the business districts, the local Hong Kong markets are an oasis of Chinese tradition that gives Hong Kong a lot of character.</p>
</section>

<section>
    {% include resimg.html src="travel/hongkong/city/20181103_175252.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hongkong/birds/20181118_172240.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hongkong/birds/20181223_104726.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        Bird up!
    </h5>
    {% include resimg.html src="travel/hongkong/birds/20181118_172346.jpg" class="with-viewer" %}
    <h5>
        Flower Market
    </h5>
</section>

<!-- Nature -->
<section class="text">
    <h2>Nature</h2>
    <p>Although Hong Kong is known for its skyscrapers, much of the territory is hilly, forested, and undeveloped. This allows for many hiking trails and camping opportunities of which I took advantage of. I did many day hikes and two overnight camping trips.</p>
    <p>The northeastern region of Hong Kong is called Sai Kung. This was close to where my university was and also where I did most of my excursions.</p>
</section>

<section>
    {% include resimg.html src="travel/hongkong/sai_kung/20180910_115312.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hongkong/sai_kung/20180910_115538.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hongkong/sai_kung/20180910_115541.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/hongkong/sai_kung/20180903_155931.jpg" class="with-viewer" %}
    <h5>
        This picture is typically not what comes to mind when thinking of Hong Kong
    </h5>

    {% include resimg.html src="travel/hongkong/sai_kung/20180910_122848.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hongkong/sai_kung/20180910_124336.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hongkong/sai_kung/20180910_122851.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/hongkong/sai_kung/20180910_131517.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hongkong/sai_kung/20180910_123305.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hongkong/sai_kung/20180910_122123.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hongkong/sai_kung/20180910_121647.jpg" class="with-viewer" %}
        </div>
    </div>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hongkong/sai_kung/20180910_132117.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hongkong/sai_kung/20180910_125330.jpg" class="with-viewer" %}
        </div>
    </div>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hongkong/hiking/IMG-20181008-WA0007.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hongkong/hiking/20181008_102233.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        Suicide Cliff hike
    </h5>
    {% include resimg.html src="travel/hongkong/hiking/20181008_101932.jpg" class="with-viewer" %}
    <h5>
        In the distance you can see Hong Kong Island
    </h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hongkong/sai_kung/20180910_132601.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hongkong/sai_kung/20180910_143215.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/hongkong/hiking/20181124_165431.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hongkong/hiking/20181124_170937.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hongkong/hiking/20181124_170946.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/hongkong/hiking/20181124_174223.jpg" class="with-viewer" %}
    {% include resimg.html src="travel/hongkong/hiking/20181125_111201.jpg" class="with-viewer" %}
</section>

<!-- Typhoon -->
<section class="text">
    <h2>Typhoon Mangkhut</h2>
    <p>Two weeks after arriving in Hong Kong a category 5 super typhoon ripped through the city. It was the strongest typhoon to hit the city since 1983.</p>
    <p>My dorm room overlooked the ocean, so I had a front row view to the storm. For 24 hours all of the students were locked down in their dormitories, not allowed to leave. Windows were reinforced with sand bags, benches were tied down and super markets were nearly empty. It was surreal.</p>
</section>

<section>
    {% include resimg.html src="travel/hongkong/typhoon/20180915_133158.jpg" class="with-viewer" %}
    <h5>
        Benches were tied down
    </h5>

    {% include resimg.html src="travel/hongkong/campus/20180915_183503.jpg" class="with-viewer" %}
    <h5>
        This picture was taken hours before the storm hit
    </h5>

    {% include resimg.html src="travel/hongkong/typhoon/20180916_105609.jpg" class="with-viewer" %}
    <h5>
        View from my dorm room
    </h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hongkong/typhoon/20180916_225835.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hongkong/typhoon/20180916_225701.jpg" class="with-viewer" %}
        </div>
    </div>

    {% include resimg.html src="travel/hongkong/typhoon/20180917_100520.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hongkong/typhoon/20180917_100912.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hongkong/typhoon/20180917_101702.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hongkong/typhoon/20180917_101020.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Aftermath</h5>

    {% include resimg.html src="travel/hongkong/typhoon/20180917_110800.jpg" class="with-viewer" %}
    {% include resimg.html src="travel/hongkong/typhoon/20180917_114439.jpg" class="with-viewer" %}
    {% include resimg.html src="travel/hongkong/typhoon/20180917_153607.jpg" class="with-viewer" %}
</section>

<!-- Villages -->
<section class="text">
    <h2>Villages</h2>
    <p>Hong Kong also has many small fishing villages on its coast. The pace of life in these peaceful villages is much slower than the city. They provide a window into what Hong Kong and the surrounding area in China looked liked many years ago. This is a part of Hong Kong most tourists never experience.</p>
</section>

<section>
    {% include resimg.html src="travel/hongkong/village/20181103_140403.jpg" class="with-viewer" %}
    <h5>
        Tai O fishing village
    </h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hongkong/village/20181103_132514.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hongkong/village/20181103_132523.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/hongkong/village/20181103_133845.jpg" class="with-viewer" %}
    {% include resimg.html src="travel/hongkong/village/20181125_130511.jpg" class="with-viewer" %}
    <h5>
        Ko Lau Wan Tsui fishing village
    </h5>
</section>

<!-- Temples -->
<section class="text">
    <h2>Temples</h2>
    <p>Hong Kong has many parks and temples, allowing an escape from a sometimes claustrophobic cityscape. The city somehow finds a way to integrate nature into its massive vertical maze of buildings, walkways and roads.</p>
</section>

<section>
    {% include resimg.html src="travel/hongkong/temples/20181007_115527.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hongkong/temples/20181007_113952.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hongkong/temples/20181007_114751.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        Chi Lin Nunnery
    </h5>
    {% include resimg.html src="travel/hongkong/temples/20181007_114955.jpg" class="with-viewer" %}
    <h5>
        My exchange buddy Sam and I
    </h5>

    {% include resimg.html src="travel/hongkong/temples/20181205_112144.jpg" class="with-viewer" %}
    <h5>
        There are even monkeys in Hong Kong!
    </h5>

    {% include resimg.html src="travel/hongkong/temples/20181205_112612.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hongkong/temples/20181205_114853.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hongkong/temples/20181205_120406.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        10,000 Buddhas Temple
    </h5>
    {% include resimg.html src="travel/hongkong/temples/20181205_113917.jpg" class="with-viewer" %}
</section>

<!-- Food -->
<section class="text">
    <h2>Food</h2>
    <p>Hong Kong is known for its noodle bowls and dim sum. However, the city boasts many cuisines from different cultures from all over Asia and the West.</p>
    <p>At my university I was allowed to put on a Thanksgiving dinner. Some other exchange students helped me out. We were able to share this traditional meal with some locals and other international students.</p>
</section>

<section>
    {% include resimg.html src="travel/hongkong/food/20180914_134251.jpg" class="with-viewer" %}
    <h5>Typical meal at a cheap restaurant</h5>
    {% include resimg.html src="travel/hongkong/food/46409244_2274790925924414_2319127261455843328_n.jpg" class="with-viewer" %}
    <h5>All you can eat Korean BBQ</h5>
    {% include resimg.html src="travel/hongkong/food/20181223_165715.jpg" class="with-viewer" %}
    <h5>Ozone bar: the highest bar in the world</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hongkong/food/FB_IMG_1540776712871.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hongkong/food/20181002_203720.jpg" class="with-viewer" %}
        </div>
    </div>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/hongkong/food/thanksgiving.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/hongkong/food/thanksgiving_1.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Thanksgiving meal</h5>
</section <!-- Food -->
<section class="text">
    <p>
        I will not soon forget my time spent in Hong Kong. This was definitely a life changing experience. I met so many people from different places and learned so many new things I will not view the world the same way again. It broadened my horizons on what is possible and what this world has to offer.
    </p>
</section>