---
title: Vietnam, Fall 2018
start_date: 2018-09-26
end_date: 2018-10-2
cities:
- Hanoi
- Sapa
featured_image: travel/vietnam/20180930_160854_featured.jpg
hero_image: travel/vietnam/20180930_160854.jpg
redirect_from:
- /vietnam/
image_roots:
- vietnam
---

<!-- Intro -->
<section class="text">
    <p>Just 12 hours after coming back from Guangzhou, a friend and I boarded a plane bound for Hanoi. We were in Vietnam for 6 days starting in the bustling capital of Hanoi and then exploring the mountains and valleys surrounding Sapa which is in the north near the border of China.</p>
</section>

<!-- Hanoi -->
<section class="text">
    <h2>Hanoi</h2>
    <p>
        The capital, and 2nd largest city in Vietnam, Hanoi is located on the Red River and has been the most important city politically in the region for over 1000 years. First part of the Nguyen dynasty, Hanoi was conquered by the French in 1873. Since then it has been the administrative center of French Indochina until finally the Vietnamese people won their independence from colonial powers in 1945.
    </p>
    <p>
        Our ride from the airport to the city center was wild. The driver ducked in and out of traffic on streets that didn't seem to have any speed limits while chuckling when we would react to his driving style.
    </p>
</section>

<section>
    {% include resimg.html src="travel/vietnam/20180927_123214.jpg" class="with-viewer" %}
    <h5>The exchange rate was 1 USD to 23,500 Vietnamese Dong. After my first ATM withdrawal I was a multi-millionaire!</h5>
    {% include resimg.html src="travel/vietnam/20180927_143358.jpg" class="with-viewer" %}
    <h5>Train street - Trains pass through this narrow corridor daily while people live and go about their lives.</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/vietnam/20180927_131451.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/vietnam/20180927_131826.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>Vietnamese drip coffee: Vietnam is the 2nd largest exporter of coffee in the world
        <strong>Right: </strong>Yogurt with avocado and mango with ice
    </h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/vietnam/20180927_140411.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/vietnam/20180927_141656.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>The Hanoi Hilton</strong> was a prison first used by the French to house Vietnamese dissenters and then later used in the Vietnam War to house Americans. The famous American politician John McCain spent time here.
    </h5>
</section>

<section class="text">
    <p>Ho Chi Minh, a key figure in the founding and independence wars of Vietnam, had an elaborate palace in Hanoi. His mausoleum was also near the city center.</p>
</section>

<section>
    {% include resimg.html src="travel/vietnam/20180927_150301.jpg" class="with-viewer" %}
    <h5>Ho Chi Minh's palace</h5>
    {% include resimg.html src="travel/vietnam/20180927_145703.jpg" class="with-viewer" %}
    <h5>Ho Chi Minh's mausoleum</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/vietnam/20180927_150017.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/vietnam/20180927_150802.jpg" class="with-viewer" %}
        </div>
    </div>
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/vietnam/20180927_151313.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/vietnam/20180927_151719.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Meticulously maintained grounds surrounding Ho Chi Minh's palace and mausoleum</h5>
    {% include resimg.html src="travel/vietnam/20180927_152056.jpg" class="with-viewer" %}
    <h5>Inside a classical Buddhist temple</h5>
    {% include resimg.html src="travel/vietnam/20180927_155139.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/vietnam/20180927_155347.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/vietnam/20180927_155320.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/vietnam/20180927_155838.jpg" class="with-viewer" %}
    {% include resimg.html src="travel/vietnam/20180927_164414.jpg" class="with-viewer" %}
    <h5>We saw a lot of foreigners with injuries caused by motorcycle accidents, it's not hard to imagine why.</h5>
    {% include resimg.html src="travel/vietnam/20180927_160150.jpg" class="with-viewer" %}
</section>

<section class="text">
    <p>And that's a wrap for Hanoi! At the place we stayed in Hanoi we met two other travelers who wanted to go to Sapa as well. We booked bus tickets with them and left bright and early the next morning.</p>
</section>

<!-- Sapa -->
<section class="text">
    <h2>Sapa</h2>
    <p>Sapa is a frontier township in north-west Vietnam. It's infrastructure was built up by the French to serve as a resort and escape from the heat of lowland Vietnam. Historically it has been home to a multitude of minority groups in the region as well serving as a central market town.</p>
</section>

<section>
    {% include resimg.html src="travel/vietnam/20180928_105852.jpg" class="with-viewer" %}
    <h5>Rice fields seen out the window of the bus ride up to Sapa</h5>
    {% include resimg.html src="travel/vietnam/20180928_112429.jpg" class="with-viewer" %}
    <h5>The bus on the 6 hour ride from Hanoi to Sapa</h5>
    {% include resimg.html src="travel/vietnam/20180928_125346.jpg" class="with-viewer" %}
    <h5>First glimpse of the many rice terraces</h5>

    <section class="text">
        <p>We arrived at our hostel and it was surreal. We had a view that overlooked the city with mountains shrouded in mist as a backdrop. In the lobby traditional Vietnamese music was playing and hot tea was served all day. This was the perfect spot to chill out and play cards, which is what we did.</p>
    </section>

    <section>
        {% include resimg.html src="travel/vietnam/20180929_100752.jpg" class="with-viewer" %}
        <h5>View from the hostel. Wow.</h5>
        {% include resimg.html src="travel/vietnam/20180928_142709.jpg" class="with-viewer" %}
        <h5>Chilling in the lobby playing cards</h5>
    </section>

    <section class="text">
        <p>
            The hostel was a capsule hostel, giving it a very futuristic look. I would definitely recommend a capsule hostel even though it looks very strange. You get privacy and quiet for a cheap price.
        </p>
    </section>

    <section>
        <div class="image-set">
            <div class="large">
                {% include resimg.html src="travel/vietnam/20180928_135246.jpg" class="with-viewer" %}
                {% include resimg.html src="travel/vietnam/20180928_135250.jpg" class="with-viewer" %}
            </div>
        </div>
        <h5>Sleeping arrangements</h5>

        {% include resimg.html src="travel/vietnam/20180929_130324.jpg" class="with-viewer" %}
        <h5>Lake in the middle of Sapa</h5>

        {% include resimg.html src="travel/vietnam/20180929_131544.jpg" class="with-viewer" %}
        {% include resimg.html src="travel/vietnam/20180929_144737.jpg" class="with-viewer" %}
        <h5>
            <strong>Banh Mi:</strong> a hot sandwich with toasted bread, pork, fresh cucumbers, tomatoes and a spicy sauce.
        </h5>

        <div class="image-set">
            <div class="large">
                {% include resimg.html src="travel/vietnam/20180929_152959.jpg" class="with-viewer" %}
                {% include resimg.html src="travel/vietnam/20180929_172936.jpg" class="with-viewer" %}
            </div>
        </div>
    </section>

    <section class="text">
        <p>After spending some time chilling at the hostel and exploring the city we ventured out and checked out some of the nearby valleys and villages.</p>
    </section>

    <section>
        <div class="image-set">
            <div class="large">
                {% include resimg.html src="travel/vietnam/20180929_161639.jpg" class="with-viewer" %}
                {% include resimg.html src="travel/vietnam/20180929_164924.jpg" class="with-viewer" %}
            </div>
        </div>
        <h5>Cat Cat Village</h5>
        <div class="image-set">
            <div class="large">
                {% include resimg.html src="travel/vietnam/20180929_165135.jpg" class="with-viewer" %}
                {% include resimg.html src="travel/vietnam/20180929_162743.jpg" class="with-viewer" %}
            </div>
        </div>
        <h5>It felt like something out of Swiss Family Robinson</h5>
        <div class="image-set">
            <div class="large">
                {% include resimg.html src="travel/vietnam/20180929_172417.jpg" class="with-viewer" %}
                {% include resimg.html src="travel/vietnam/20180929_170635.jpg" class="with-viewer" %}
                {% include resimg.html src="travel/vietnam/20180929_170629.jpg" class="with-viewer" %}
            </div>
        </div>
        {% include resimg.html src="travel/vietnam/20180929_173603.jpg" class="with-viewer" %}
        <h5>
            When the rice fields are yellow, it means that they haven't been harvested yet. Many of the fields I saw in the main valley had already been harvested a month or so before I was there.
        </h5>
        <div class="image-set">
            <div class="large">
                {% include resimg.html src="travel/vietnam/20180929_174837.jpg" class="with-viewer" %}
                {% include resimg.html src="travel/vietnam/20180929_175551.jpg" class="with-viewer" %}
                {% include resimg.html src="travel/vietnam/20180929_174030.jpg" class="with-viewer" %}
            </div>
        </div>
        {% include resimg.html src="travel/vietnam/20180929_175532.jpg" class="with-viewer" %}
    </section>

    <section class="text">
        <h2>Muong Hoa Valley</h2>
        <p>
            The next morning I took a guided tour with a local lady from a nearby village. When we started in the morning, the hills were covered in mist. After we ate lunch at a village community center, the sun started to peak through the clouds and we got some amazing views of the Muong Hoa Valley rice terraces.
        </p>
        <p>
            There are four main minority groups in the Muong Hoa Valley, all of them have different cultures, customs, garments, and languages. The minority groups live so closely together that you can see more than one village at a time from the tops of the mountains. Historically, the villagers would meet in Sapa to trade with them each other.
        </p>
    </section>

    <section>
        {% include resimg.html src="travel/vietnam/20180930_090404.jpg" class="with-viewer" %}
        <h5>Early morning mist covered mountains. Breathtaking</h5>
        <div class="image-set">
            <div class="large">
                {% include resimg.html src="travel/vietnam/20180930_092714.jpg" class="with-viewer" %}
                {% include resimg.html src="travel/vietnam/20180930_092701.jpg" class="with-viewer" %}
                {% include resimg.html src="travel/vietnam/20180930_094021.jpg" class="with-viewer" %}
            </div>
        </div>
        <h5>The flowers of Sapa</h5>

        <div class="image-set">
            <div class="large">
                {% include resimg.html src="travel/vietnam/20180930_094657.jpg" class="with-viewer" %}
                {% include resimg.html src="travel/vietnam/20180930_101328(0).jpg" class="with-viewer" %}
                {% include resimg.html src="travel/vietnam/20180930_110821.jpg" class="with-viewer" %}
            </div>
        </div>
        <h5>
            <strong>Center: </strong>I was told that this one tasted sweet but was highly poisonous.
        </h5>

        <div class="image-set">
            <div class="large">
                {% include resimg.html src="travel/vietnam/20180930_103020.jpg" class="with-viewer" %}
                {% include resimg.html src="travel/vietnam/20180930_103600.jpg" class="with-viewer" %}
            </div>
        </div>
        <h5>Before lunch I couldn't see the tops of the mountains or the bottom of the valley</h5>

        <div class="image-set">
            <div class="large">
                {% include resimg.html src="travel/vietnam/20180930_104740.jpg" class="with-viewer" %}
                {% include resimg.html src="travel/vietnam/20180930_110641.jpg" class="with-viewer" %}
            </div>
        </div>
        <h5>
            We ate lunch high in the mountains at a community center. The kids here were clearly very poor but were happy and enjoyed playing with us.
        </h5>

        {% include resimg.html src="travel/vietnam/20180930_120147.jpg" class="with-viewer" %}
        <div class="image-set">
            <div class="large">
                {% include resimg.html src="travel/vietnam/20180930_112803.jpg" class="with-viewer" %}
                {% include resimg.html src="travel/vietnam/20180930_114145.jpg" class="with-viewer" %}
            </div>
        </div>
        {% include resimg.html src="travel/vietnam/20180930_123029.jpg" class="with-viewer" %}
        <h5>After lunch the clouds started to break up</h5>
        {% include resimg.html src="travel/vietnam/20180930_125737.jpg" class="with-viewer" %}
        {% include resimg.html src="travel/vietnam/20180930_125822.jpg" class="with-viewer" %}
        <div class="image-set">
            <div class="large">
                {% include resimg.html src="travel/vietnam/20180930_134939.jpg" class="with-viewer" %}
                {% include resimg.html src="travel/vietnam/20180930_132730.jpg" class="with-viewer" %}
            </div>
        </div>
        {% include resimg.html src="travel/vietnam/20180930_142957.jpg" class="with-viewer" %}
        <div class="image-set">
            <div class="large">
                {% include resimg.html src="travel/vietnam/20180930_170120.jpg" class="with-viewer" %}
                {% include resimg.html src="travel/vietnam/IMG_20181012_141234_579.jpg" class="with-viewer" %}
            </div>
        </div>
        <h5>
            <strong>Left: </strong>Mama Shu Shu
            <strong>Right: </strong>Traveling companions: Christian, Cerys, AJ and me
        </h5>
    </section>