---
title: Cambodia, Fall 2018
start_date: 2018-12-15
end_date: 2018-12-21
cities:
  - Phnom Penh
  - Siem Reap
featured_image: travel/cambodia/20181219_153958_featured.jpg
hero_image: travel/cambodia/20181219_153958.jpg
redirect_from: 
  - /cambodia/
---

<!-- Intro -->
<section class="text">
	<p>After my exchange semester ended at The Hong Kong University of Science and Technology ended I took a 6 day trip to Cambodia. A year before this trip I would never imagined traveling to Cambodia, but here I was exploring Angkor Wat and temples that reminded me of Star Wars or Indiana Jones.</p>
</section>

<!-- Phnom Penh -->
<section class="text">
	<h2>Phnom Penh</h2>
	<p>The long time capital of Cambodia, Phnom Penh, is by far the largest city in the country and is the most significant economically, politically and culturally. Situated on the banks of the Tonlé Sap and Mekong rivers, the Phnom Penh metropolitan area has a population of over 1.5 million.</p>
</section>

<section>
    {% include resimg.html src="travel/cambodia/20181215_174621.jpg" class="with-viewer" %}
    <h5>Night Market</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/cambodia/20181215_174909.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/cambodia/20181215_174915.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Roasted chickens</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/cambodia/20181215_182803.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/cambodia/20181215_220206.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>Mats in the middle of the market you can sit and eat on.
        <strong>Right: </strong>Assorted bugs
    </h5>
    {% include resimg.html src="travel/cambodia/20181216_103157.jpg" class="with-viewer" %}
    <h5>Delicious fruits</h5>
    {% include resimg.html src="travel/cambodia/20181216_101653.jpg" class="with-viewer" %}
    <h5>Breakfast at the market: Noodle bowl, mango and iced coffee</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/cambodia/20181216_165506.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/cambodia/20181216_170153.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>This motorcycle load might not pass the safety standards</h5>
    {% include resimg.html src="travel/cambodia/20181216_170950.jpg" class="with-viewer" %}
    <h5>One of the main markets in the middle of Phnom Penh</h5>
    {% include resimg.html src="travel/cambodia/20181216_172240.jpg" class="with-viewer" %}
    <h5>I'm pretty sure I got food poisoning from this market. I suspect it was the meat sticks.</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/cambodia/20181216_174355.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/cambodia/20181217_121230.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>I tried some of these desserts but some of seem looked a little dubious</h5>
    {% include resimg.html src="travel/cambodia/20181217_110223.jpg" class="with-viewer" %}
    <h5>View from the second hotel after the first one had bed bugs</h5>
    {% include resimg.html src="travel/cambodia/20181217_123329.jpg" class="with-viewer" %}
    <h5>
        I saw many people picking up trash along the river. After by the river for a while I eventually saw some young kids swimming in the river, something I would have been too scared to do.
    </h5>
    {% include resimg.html src="travel/cambodia/20181217_171825.jpg" class="with-viewer" %}
    <h5>A lone modern building sticking out of the madness. Funded by Chinese investors</h5>
</section>

<!-- Killing Fields + Prison -->
<section class="text">
	<h2>The Killing Fields and Tuol Sleng Prison</h2>
	<p>
        Between 1975 and 1979 almost 2 million people died during the Cambodian Genocide. After winning the Cambodian Civil War Pol Pot and the Khmer Rouge took total control of the country. They aimed to dramatically transform society by forcibly moving people living in cities to rural settlements and eliminating technology and intellectuals in order to return to "year zero". This is a very important and heavy topic that needs more recognition. For more information read <a href="http://endgenocide.org/learn/past-genocides/the-cambodian-genocide/">here</a>.
    </p>
    <p>
        Today Cambodia is far behind its neighboring countries in many quality of life indexes. This is a lasting legacy of the Cambodian Genocide, an event that has caused trauma and many other problem in the country that are still evident today.
    </p>
	<p>
        I first visited the killing fields, a mass unmarked grave where many thousands of Cambodians were killed indiscriminately.
    </p>
</section>
<section>
    {% include resimg.html src="travel/cambodia/20181216_130625.jpg" class="with-viewer" %}
    <h5>Underneath this grass is the remains of thousands of innocent Cambodians</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/cambodia/20181216_140052.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/cambodia/20181216_140318.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/cambodia/20181216_130227.jpg" class="with-viewer" %}
    <h5>
        In some places you can see small bones sticking out of the ground and pieces of clothing still in tact. Absolutely heart wrenching.
    </h5>
    {% include resimg.html src="travel/cambodia/20181216_165329.jpg" class="with-viewer" %}
    <h5>Tuol Sleng Prison was a high school transformed into an interrogation and torture prison. Thousands of innocent Cambodians were tortured here for false accusations.</h5>
</section>

<!-- Royal Palace -->
<section class="text">
	<h2>Royal Palace</h2>
	<p>The Royal Palace in Phnom Penh houses the King of Cambodia. Built in 1866, the palace is a complex of temples and buildings that allows the king and his family to live comfortably.</p>
</section>

<section>
    {% include resimg.html src="travel/cambodia/20181217_145906.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/cambodia/20181217_145515.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/cambodia/20181217_150748.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/cambodia/20181217_154421.jpg" class="with-viewer" %}
</section>
<section class="text">
    <p>Halfway through the last day in Phnom Penh I started to feel very sick. The combination of food poisoning, heat, sun and exhaustion from walking around caught up to me. The night bus from Phnom Penh to Siem Reap left the station at 11:30PM and arrived the next morning at 6AM. I will leave out the details but the experience was less than comfortable.</p>
</section>

<!-- Siem Reap -->
<section class="text">
	<h2>Siem Reap</h2>
	<p>One of the largest cities in Cambodia and a popular tourist destination, Siem Reap is just a tuk tuk ride away from Angkor Wat and many other ancient temples.</p>
	<p>For each tuk tuk ride the price is individually negotiated depending on distance, busyness and supply of other drivers nearby. Nearly every time you step outside multiple tuk tuk drivers will call out to you asking if you need a ride.</p>
</section>

<section>
    {% include resimg.html src="travel/cambodia/20181217_163219.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/cambodia/IMG_20181220_122934.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/cambodia/IMG_20181220_123000.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/cambodia/IMG_20181220_122944.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>Rice and chicken
        <strong>Middle: </strong>Mango and sticky rice
        <strong>Right: </strong>Fish Amok
    </h5>
    {% include resimg.html src="travel/cambodia/20181218_205247.jpg" class="with-viewer" %}
    <h5>Cambodian circus</h5>
</section>

<!-- Angkor Wat -->
<section class="text">
	<h2>Angkor Wat</h2>
	<p>Angkor Wat is a temple complex near Siem Reap that is one of the largest religious monuments in the world.  Originally constructed as a Hindu temple and dedicated to the god Vishnu for the Khmer Empire, it was gradually transformed into a Buddhist temple towards the end of the 12th century.</p>
	<p>The temple gradually became a symbol of national pride and today it can be seen on the Cambodian flag.</p>
</section>

<section>
    {% include resimg.html src="travel/cambodia/20181219_120525.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/cambodia/20181219_121637.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/cambodia/20181219_122640.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/cambodia/IMG_20181219_131122.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/cambodia/IMG_20181219_134614.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/cambodia/IMG_20181219_135521.jpg" class="with-viewer" %}
        </div>
    </div>
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/cambodia/IMG_20181219_133853.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/cambodia/IMG_20181219_142722.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        These temples looked so ancient. Sometimes there were no words to describe how it felt walking amongst these ancient temples.
    </h5>
    {% include resimg.html src="travel/cambodia/IMG_20181219_143758.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/cambodia/IMG_20181219_143729.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/cambodia/IMG_20181219_143137.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        The way these massive trees spread their roots in the temples was breath taking. It looked as if the trees were reclaiming their forest.
    </h5>
    {% include resimg.html src="travel/cambodia/IMG_20181219_160027.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/cambodia/IMG_20181219_154533.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/cambodia/IMG_20181219_143428.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/cambodia/IMG_20181219_160007.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/cambodia/IMG_20181219_154842.jpg" class="with-viewer" %}
    {% include resimg.html src="travel/cambodia/IMG_20181219_154313.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/cambodia/IMG_20181219_161741.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/cambodia/IMG_20181219_145025.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/cambodia/IMG_20181219_173219.jpg" class="with-viewer" %}
</section>
<section class="text">
    <p>
        After exploring the temples of Angkor Wat the sun set on my trip in Cambodia. The next day I took a plane back to Hong Kong for my last days in that city.
    </p>
</section>