---
title: Macau, Fall 2018
start_date: 2017-09-08
end_date: 2018-09-08
cities:
  - Macau
featured_image: travel/macau/134A7431.JPG
hero_image: travel/macau/134A7431.JPG
redirect_from: 
  - /macau/
---

<!-- Intro -->
<section class="text">
	<p>I took a day trip to Macau from Hong Kong with two of my freinds from school, Harrison and Tristan. We boarded the ferry for Macau bright and early on Saturday morning and arrived back in Hong Kong very late at night. We walked over 20km in one day and experienced much of what Macau had to offer.
</section>

<!-- Casinos, intro -->
<section class="text">
    <h2>Gambling</h2>
    <p>Macau is the gambling capital of the world and is officially known as Macao Special Administrative Region of the People's Republic of China. Like Hong Kong, Macau is a part of China but has some autonomy from China. The economy of Macau heavily relies on gambling and tourism.</p>
    <p>In 2049 Macau will be officialy handed over to China and will not hold it's autonomous status any longer.</p>
</section>
<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/macau/134A7388 (1).JPG" class="with-viewer" %}
            {% include resimg.html src="travel/macau/134A7473.JPG" class="with-viewer" %}
        </div>
    </div>
</section>
<section>
    {% include resimg.html src="travel/macau/134A7557.JPG" class="with-viewer" %}
</section>

<!-- Casinos, intro -->
<section class="text">
    <h2>History</h2>
    <p>Macau sits at the mouth of the Pearl River delta in the Guangdong region of Southern China, the most populated area in the world. Formerly a colony of Portugal, Ming China leased the territory as a trading post in 1557 to keep foreigners at an arms distance away from China. That arrangement ended up not working so well.</p>
    <p></p>
</section>

