---
title: Japan, Spring 2019
start_date: 2019-04-28
end_date: 2019-05-06
cities:
  - Kyoto
  - Nara
  - Osaka
featured_image: travel/cambodia/20181219_153958_featured.jpg
hero_image: travel/osaka/IMG_20190430_174259.jpg
redirect_from: 
  - /osaka/
  - /kyoto/
---

<!-- Intro -->
<section class="text">
    <p>
        Every year during the end of April, Japan has a cluster of holidays called Golden Week. In 2019, the stars aligned and the dates of the holidays combined with the enthronement of the new emporer, Emperor Naruhito, created a 10 day long holiday.
    </p> 
    <p>
        During my first Golden Week I took the Shinkansen (bullet train) from Tokyo to Kyoto, then took local trains to Nara and Osaka before finally flying back to Tokyo. I saw many beautiful temples and ate a lot of delicious food.
    </p>
</section>

<!-- Train Ride -->
<section class="text">
	<h2>Shinkansen</h2>
	<p>
        Before I came to Japan I was excited about trying the bullet train. It runs at 320km/h and is punctual down to the second. It is extremely comfortable, safe and efficient. Although I could have easily slept on the train I spent most of the time looking out the window at the beautiful Japan countryside and have a great view of Mt. Fuji.
    </p>
    <p>
        The trip from Shin-Yokohama station near Tokyo to Kyoto Station took a little under 2 hours. 
    </p>
</section>

<section>
    {% include resimg.html src="travel/osaka/IMG_20190428_130430.jpg" class="with-viewer" %}
    <h5>Shinkansen</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/osaka/IMG_20190428_134102.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/osaka/IMG_20190428_144402.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Japanese countryside</h5>
</section>

<!-- Kyoto -->
<section class="text">
    <h2>Kyoto</h2>
    <p>
        Kyoto is the former capital of Japan, before the capital was moved to Tokyo in 1869 during the Meiji Restoration. Today, Kyoto hosts many extravagent temples and simple shrines. The city has a relatively small population compared to Japan's other large cities and is limited in how high buildings can be built. This is done to preserve views of the natural beauty surrounding the city. The location of the ancient capital of Japan was chosen partially beacuse it is surrounded on three sides by mountains, a natural defense against invading armies.
    </p>
</section>

<section>
    {% include resimg.html src="travel/osaka/IMG_20190428_161417.jpg" class="with-viewer" %}
    <h5>Kyoto Station</h5>
    {% include resimg.html src="travel/osaka/IMG_20190428_155632.jpg" class="with-viewer" %}
    <h5>The 10th floor of Osaka station is all ramen restaurants.</h5>
</section>

<section class="text">
    <p>
        The next morning we headed to Arashiyama, which is famous for a large bamboo grove and a monkey park on top of a hill that has a great view of Kyoto. The monkies here are freindly, but don't provoke them!
    </p>
</section>

<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/osaka/IMG_20190429_094004.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/osaka/IMG_20190429_094635.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Arashiyama Station has a Kimono Forest, inspired by the nearby bamboo forest.</h5>
    {% include resimg.html src="travel/osaka/IMG_20190429_095856.jpg" class="with-viewer" %}
    <h5>The Katsura River, which comes out of the nearby mountains.</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/osaka/IMG_20190429_103924.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/osaka/IMG_20190429_104907.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/osaka/IMG_20190429_104058.jpg" class="with-viewer" %}
    <h5>View above Kyoto</h5>
    {% include resimg.html src="travel/osaka/IMG_20190429_113217.jpg" class="with-viewer" %}
    {% include resimg.html src="travel/osaka/IMG_20190429_115006.jpg" class="with-viewer" %}
    <h5>Bamboo grove</h5>
    {% include resimg.html src="travel/osaka/IMG_20190429_122001.jpg" class="with-viewer" %}
    <h5>Japanese curry with egg, tempura and sausage</h5>
</section>

<section class="text">
    <p>
        After leaving Arashiyama we visited some other smaller parks and shrines nearby and then went to Nishiki Market.
    </p>
</section>

<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/osaka/IMG_20190429_131906.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/osaka/IMG_20190429_133310.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>I had a slight obsession with the trees in Kyoto. The climate was so wet, everything was covered in moss and since it was the end of April everything was growing it was scerene.</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/osaka/IMG_20190429_141024.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/osaka/IMG_20190429_150546.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/osaka/IMG_20190429_104058.jpg" class="with-viewer" %}
    <h5>Nishiki Market</h5>
    {% include resimg.html src="travel/osaka/IMG_20190429_104058.jpg" class="with-viewer" %}
    {% include resimg.html src="travel/osaka/IMG_20190429_191459.jpg" class="with-viewer" %}
    <h5>This is the best conveyer belt sushi I have ever had</h5>
 </section>

<section class="text">
    <p>
        One thing I love about Japan is how much effort they put into service and craftsmanship. You can see it in how much effort every worker puts into their job, from a cashier to a baker to a garden keeper in Japan most every worker does their best to do an excellent job. It is most evident in their food and their temples.
    </p>
</section>

<section>
    {% include resimg.html src="travel/osaka/IMG_20190430_112734.jpg" class="with-viewer" %}
    <h5>Fushimi Inari Shrine</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/osaka/IMG_20190430_113624.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/osaka/IMG_20190430_104028.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/osaka/IMG_20190430_100326.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Each gate was donated to the shrine, even the smaller ones</h5>
    {% include resimg.html src="travel/osaka/IMG_20190430_112211.jpg" class="with-viewer" %}
    <h5>Dedicated to Inari, the Shinto god of rice. Foxes are thought to be Inari's messengers, resulting in many fox statues across the shrine grounds. Fushimi Inari Shrine has ancient origins, predating the capital's move to Kyoto in 794.</h5>
    {% include resimg.html src="travel/osaka/IMG_20190430_114726.jpg" class="with-viewer" %}
</section>

<section class="text">
    <p>
        After the long hike through the Fushimi Inari Shrine I was starving. Luckily there was some amazing street food just outside of the shrine! We pigged out on food here and had a great variety of options.
    </p>
</section>

<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/osaka/IMG_20190430_122600.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/osaka/IMG_20190430_121642.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <b>Left:</b> Beef
        <b>Right:</b> Beef wrapped rice with cheese
    </h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/osaka/IMG_20190430_122409.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/osaka/IMG_20190430_123217.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        Cream filled mini pancake
    </h5>
    {% include resimg.html src="travel/osaka/IMG_20190430_142651.jpg" class="with-viewer" %}
    <h5>We stumbled upon a guy doing amazing work on traditional Japanese art</h5>
    {% include resimg.html src="travel/osaka/IMG_20190430_150630.jpg" class="with-viewer" %}
    <h5>Kyoto Aqueduct</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/osaka/IMG_20190430_155058.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/osaka/IMG_20190430_163614.jpg" class="with-viewer" %}
        </div>
    </div>
</section>