---
title: Taiwan, Spring 2019
start_date: 2019-08-09
end_date: 2019-08-18
cities:
  - Taipei
  - Taichung
  - Hualien
  - Yilan
featured_image: travel/taiwan/IMG_20190814_122352_featured.jpg
hero_image: travel/taiwan/IMG_20190814_122352.jpg
redirect_from: 
  - /taiwan/
  - /taipei/
---

<!-- Intro -->
<section class="text">
    <p>
        Most companies in Japan have a week off in August called Obon. During my Obon in 2019 I took a trip to Taiwan to meet some old friends I made in Hong Kong.
    </p> 
    <p>
        Taiwan is a small country filled with delicious food, friendly people and beautiful scenery. Taiwan is very famous for its night markets which exist in nearly every town and city. I was able to see a lot of the country in 8 days while leaving many places and experiences undone.
    </p>
</section>

<!-- Taipei -->
<section class="text">
	<h2>Taipei</h2>
	<p>
        I spent the first weekend in Taipei. Situated in northn Taiwan, the capital city of Taipei is by far the largest city in Taiwan and is the 40th largest city in the world. By Asian standards the city is not too massive, but still has a lot of depth regarding things to do and see. It is also home to the famous skyscarper Taipei 101.
    </p>
</section>

<section>
    {% include resimg.html src="travel/taiwan/IMG_20190810_102740.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190810_110446.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190810_110258.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Lungshan Temple</h5>
    {% include resimg.html src="travel/taiwan/IMG_20190810_111535.jpg" class="with-viewer" %}
    <h5>Taipei is very photogenic</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190810_103901.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190810_104151.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190810_111037.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/taiwan/IMG_20190810_095226.jpg" class="with-viewer" %}
    <h5>Taiwanese omelette and coffee</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190810_120122.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190810_111351.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/taiwan/IMG_20190810_150855.jpg" class="with-viewer" %}
    <h5>In front of Chiang Kai Shek Memorial</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190810_114823.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190810_122930.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>North Gate (北門)
        <strong>Right: </strong>Presidential building
    </h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190810_163549.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190810_162902.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Near Taipei 101</h5>
    {% include resimg.html src="travel/taiwan/IMG_20190810_175903.jpg" class="with-viewer" %}
    <h5>Taipei 101</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190810_183313.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190810_180504.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190810_174650.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>Taipei 101
        <strong>Center: </strong>My friend Anson
        <strong>Right: </strong>Elephant mountain
    </h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190810_200142.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190810_202858.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Din Tai Fung</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190810_212639.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190810_215750.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190810_185737.jpg" class="with-viewer" %}
        </div>
    </div>

</section>

<!-- Jiufen -->
<section class="text">
    <h2>Jiufen</h2>
    <p>
        I took a day trip from Taipei to Jiufen, an old town in the hills to the east of Taiwan. This city was the inspiration for the famous Studio Ghibli movie Spirited Away! 
    </p>
    <p>
        Jiuefen has an old street with many shops cut through the middle of the town. Surrounding were many hills and one of them I hiked to the top to enjoy a view of the sea and town. It was 95 degress and humid that day!
    </p>
</section>

<section>
    {% include resimg.html src="travel/taiwan/IMG_20190811_113854.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190811_113014.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190811_112119.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Jiufen old street</h5>
    {% include resimg.html src="travel/taiwan/IMG_20190811_125817.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190811_124532.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190811_124436.jpg" class="with-viewer" %}
        </div>
    </div>
</section>

<section class="text">
    <p>
        After Jiufen I went to Shifen which has an old street and waterfall. This town is famous for people making wishes before they fly lanterns.
    </p>
</section>  

<section>
    {% include resimg.html src="travel/taiwan/IMG_20190811_154035.jpg" class="with-viewer" %}
    <h5>Many people were flying lanterns in the town. How nice, right?</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190811_155741.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190811_161729.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>After seeing so many lanterns end up in the river or in the trees I immediately thought differently of this tradition :(</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190811_141825.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190811_215109.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>Pork and noodles
        <strong>Right: </strong>Sweet potatoe snacks
    </h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190811_201750.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190811_220700.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>Beef noodles
        <strong>Right: </strong>Taiwan Beer
    </h5>
    {% include resimg.html src="travel/taiwan/IMG_20190811_224719.jpg" class="with-viewer" %}
    <h5>Anson was a pool shark</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190812_144617.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190812_144731.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>I rented a bicycle and biked across Taipei before I left to Taichung</h5>
</section>

<section class="text">
    <h2>Taichung</h2>
    <p>
        The main reason I went to Taichung was to meet up with one of my coworkers in Japan who was from western Taiwan. She brought me to Feng Chia night market, one of the largest in Taiwan!
    </p>
    <p>
        The trains were so cheap and fast in Taiwan I could easily hop over to Taichung for one night the go back to the east coast the next day.
    </p>
</section>

<section>
    {% include resimg.html src="travel/taiwan/IMG_20190812_205532.jpg" class="with-viewer" %}
    <h5>Feng Chia night market</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190813_205545.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190812_211556.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190812_212551.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>Crepe with pork
        <strong>Center: </strong>Pork blood on a stick covered in peanuts.. I wasn't told what it was until after I took a bite!
        <strong>Right: </strong>Greasy, fried bun with sausage, glutinous rice and peppers
    </h5>
    {% include resimg.html src="travel/taiwan/IMG_20190813_163558.jpg" class="with-viewer" %}
    <h5>Train back to Taipei</h5>
</section>

<section class="text">
    <h2>East Coast</h2>
    <p>
        The next section of my trip brought me to Yilan, a city in the north part of the beautiful east coast of Taiwan. Here I rented a scooter to start my 4 day, 800km trip
    </p>
</section>

<section>
    {% include resimg.html src="travel/taiwan/IMG_20190814_075224.jpg" class="with-viewer" %}
    <h5>Last meal before my excursion</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190814_100504.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190814_101636.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The first stop was Su'ao, a small fishing village</h5>
    {% include resimg.html src="travel/taiwan/IMG_20190814_102303.jpg" class="with-viewer" %}
    {% include resimg.html src="travel/taiwan/IMG_20190814_103648.jpg" class="with-viewer" %}
    <h5>Above the city there were some amazing views</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190814_103157.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190814_122440.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/taiwan/IMG_20190814_133908.jpg" class="with-viewer" %}
    <h5>First glimpse of Taroko Gorge</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190814_180246.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190815_075420.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/taiwan/IMG_20190815_113832.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190815_130849.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190815_144816.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190815_150425.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/taiwan/IMG_20190815_165605.jpg" class="with-viewer" %}
    <h5>Hualien</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190815_170933.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190815_195629.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>Busy pork bun restaurant
        <strong>Right: </strong>My hostel
    </h5>
</section>

<section class="text">
    <h2>Taroko Gorge</h2>
    <p>
        Taroko Gorge can be most accurately described as epic.
    </p>
    <p>
        The steep valley starts at sea level and rises over 10,000 feet until you reach the tallest road in Taiwan. This distance can be covered in less than one day and that's exactly what I did.
    </p>
    <p>
        Since this is one of the few roads that crosses the island of Taiwan, it can be busy and crowded with trucks. Many sections of the road are only wide enough for one vehicle so if you attempt this route you must always be very aware of incoming traffic and the conditions of the road. That being said, it started raining and got very cold when I got halfway up the gorge.
    </p>
</section>

<section>
    {% include resimg.html src="travel/taiwan/IMG_20190816_071704.jpg" class="with-viewer" %}
    <h5>Entering Taroko Gorge</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190816_073336.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190816_073706.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/taiwan/IMG_20190816_081617.jpg" class="with-viewer" %}
    <h5>I saw a monkey run across the road but he didn't seem interested in me</h5>
    {% include resimg.html src="travel/taiwan/IMG_20190816_084117.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190816_095351.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190816_085422.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190816_114354.jpg" class="with-viewer" %}
        </div>
    </div>
</section>

<section class="text">
    <p>
        Partway up the mountain I was getting low on gas and I was banking on a gas station high up in the valley. I stopped at a coffee shop when I had 1/6 of a tank left and learned that the gas station was under repair!
    </p>
    <p>
        I met a very friendly Taiwanese guy who offered to help me find gas. We went to the gas station under construction and the workers hooked me up with some gas.
    </p>
</section>

<section>
    {% include resimg.html src="travel/taiwan/IMG_20190816_112955.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190816_131842.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190816_135137.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/taiwan/IMG_20190816_124222.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190816_125329.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190816_122106.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Highest road in Taiwan</h5>
    {% include resimg.html src="travel/taiwan/IMG_20190816_132238.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190816_132224.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190816_134328.jpg" class="with-viewer" %}
        </div>
    </div>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190816_180049.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190817_075924.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/taiwan/IMG_20190817_080508.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190817_090347.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190817_090645.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/taiwan/IMG_20190817_090434.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190817_134633.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190817_122209.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Train back to Taipei</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/taiwan/IMG_20190817_190026.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/taiwan/IMG_20190817_191340.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>Hot pot with pork blood, stinky tofu and intestines
        <strong>Right: </strong>My friend Ting I met in Hong Kong!
    </h5>
</section>