---
title: Japan, Spring 2019
start_date: 2019-04-28
end_date: 2019-05-06
cities:
  - Kyoto
  - Nara
  - Osaka
featured_image: travel/cambodia/20181219_153958_featured.jpg
hero_image: travel/cambodia/20181219_153958.jpg
redirect_from: 
  - /osaka/
  - /kyoto/
---

<!-- Intro -->
<section class="text">
    
</section>

<!-- Train Ride -->
<section class="text">
	<h2>Phnom Penh</h2>
	<p>The long time capital of Cambodia, Phnom Penh, is by far the largest city in the country and is the most significant economically, politically and culturally. Situated on the banks of the Tonlé Sap and Mekong rivers, the Phnom Penh metropolitan area has a population of over 1.5 million.</p>
</section>

<section>
    {% include resimg.html src="travel/cambodia/20181215_174621.jpg" class="with-viewer" %}
    <h5>Night Market</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html  src="travel/cambodia/20181215_174909.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/cambodia/20181215_174915.jpg" class="with-viewer" %}
        </div>
    </div>
</section>