---
title: Singapore and Malaysia, Winter 2020
start_date: 2019-12-30
end_date: 2020-01-12
cities:
- Singapore
- Langkawi
- Koh Lipe
- Penang
- Kuala Lumpur
featured_image: travel/malaysia/IMG_20200107_105227_featured.jpg
hero_image: travel/malaysia/IMG_20200107_105227.jpg
image_roots:
- malaysia
- singapore
redirect_from:
- /malaysia/
- /singapore/
---

<!-- Intro -->
<section class="text">
    <p>
        After Hong Kong, Singapore was a close second when I was in the process of deciding where to study abroad. Naturally, this made me curious about the country and how it compared to Hong Kong.
    </p>
    <p>
        Singapore is a very rich city. One in six citizens are millionaires. Also, the city-state is one of the most racially and religiously diverse in the world while at the same time being extremely safe and stable.
    </p>
    <p>
        Close by Malaysia was also of very high interest to me. It only made sense to couple these two destinations together for a 2 week long trip starting in Singapore and ending in Kuala Lumpur. So, sometime in October, I booked my flights through Scoot Airlines and grinded out the end of my first working year until leaving for Singapore on December 30th.
    </p>
</section>



<section class="map">
    {% include map.html location="Singapore"%}
</section>

<!-- Singapore -->
<section class="text">
    <h2>Singapore</h2>
    <p>
        Landing at the Singapore Changi Airport was an absolutely fantastic experience. Ranked #1 in the world, several friends told me that they enjoyed it so much that they ended up spending extra time there. I could not imagine this. Most airports I have been to I wanted to spend as little time as possible. Singapore Changi Airport changed my perception of what an airport could be.
    </p>
    <p>
        The airport lived up to it's reputation. As soon as we landed, cheerful airport staff members handed us candies wishing us Happy New Year. After breezing through the seemingly lax security, we were met with an indoor tropical forest, complete with a gigantic waterfall. The sounds and smells of the indoor forest were very realistic. I soon found myself exploring the forest overlooks and getting overly excited at all the amazing restaurants in the mall complex. It seemed as if they had taken the best restaurants from all over the world.
    </p>
</section>

<section>
    {% include resimg.html src="travel/malaysia/IMG_20191230_205950.jpg" class="with-viewer" %}
    <h5>$1.7 billion mixed-use facility called the Jewel</h5>
</section>

<section class="text">
    <p>
        We arrived at night and were very tired so went straight to our hostel. The much hyped public transportation also lived up to the hype. Usually, when I'm in a new city, I make at least one mistake when using the public transportation. Not Singapore. We bought tickets and went directly to our destination without any difficulties.
    </p>
    <p>
        The following day was mostly spent walking through the city. Although the public transportation was great, the city is very walkable. I would recommend walking through many areas because it gives you a better idea of the lifestyle of Singaporeans.
    </p>
</section>

<section>
    {% include resimg.html src="travel/malaysia/IMG_20200102_175457.jpg" class="with-viewer" %}
    <h5>Merlion</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/malaysia/IMG_20200101_163005.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200101_162241.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200101_163017.jpg" class="with-viewer" %}
        </div>
    </div>

    {% include resimg.html src="travel/malaysia/IMG_20191231_102932.jpg" class="with-viewer" %}
    <h5>Masjid Sultan in Kampong Glam</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/malaysia/IMG_20191231_103659.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20191231_103709.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20191231_103717.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Street Art in Kampong Glam</h5>

    {% include resimg.html src="travel/malaysia/IMG_20191231_104446.jpg" class="with-viewer" %}
    <h5>Me trying to be artistic</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/malaysia/IMG_20191231_102528.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20191231_103724.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Street art galore</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/malaysia/IMG_20191231_120046.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20191231_121731.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The food markets had dozens of different food and drink stalls offering a huge variety of delicious and cheap options.</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/malaysia/IMG_20200102_140217.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20191231_112311.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20191231_163019.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Right: </strong>Char kway teow
        <strong>Middle: </strong>Traditional Kaya Toast Singaporean breakfast
        <strong>Left: </strong>Duck
    </h5>

    {% include resimg.html src="travel/malaysia/IMG_20191231_164706.jpg" class="with-viewer" %}
    <h5>Chinatown</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/malaysia/IMG_20191231_171055.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200101_123750.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>Chinatown
        <strong>Right: </strong>Little India
    </h5>

    {% include resimg.html src="travel/malaysia/IMG_20191231_165226.jpg" class="with-viewer" %}
    <h5>Checkers in Chinatown</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/malaysia/IMG_20200101_115826.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200101_120228.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Komala Vilas Restaurant: <strong>Left: </strong>vegetarian biryani <strong>Right: </strong> Gobi Manchurian (deep fried cauliflower)</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/malaysia/IMG_20200101_214414.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200102_220636.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        Imam Banana Leaf Restaurant Pte Ltd (Right next to the hostel)
        <strong>Left: </strong>Chicken biryani
        <strong>Right: </strong>Murtabak
    </h5>

    {% include resimg.html src="travel/malaysia/IMG_20200101_155604.jpg" class="with-viewer" %}
    <h5>Buses in Singapore were very convenient and often the only choice when going to places outside of the dense city center</h5>
</section>

<section class="text">
    <p>
        Singapore does a beautiful job of integrating greenery into it's modern architecture. Although the city is immensely dense, many areas feel very spacious and relaxed because of Singapore's dedication to being known as the 'Garden City'.
    </p>
    <p>
        Many buildings incorporated elevated forests, walls of shrubs or flowing waterfalls. The many parks and comfortable waterways also alleviated potential feelings of urban claustrophobia.
    </p>
</section>

<section>
    {% include resimg.html src="travel/malaysia/IMG_20200101_174226.jpg" class="with-viewer" %}
    <h5>Gardens by the Bay</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/malaysia/IMG_20200101_180505.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200101_175400.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200101_180454.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Desert plants inside Gardens by the Bay</h5>

    {% include resimg.html src="travel/malaysia/IMG_20200101_183255.jpg" class="with-viewer" %}
    <h5>Cloud Forest</h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/malaysia/IMG_20200101_190422.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200101_191459.jpg" class="with-viewer" %}
        </div>
    </div>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/malaysia/IMG_20200102_121802.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200102_121824.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200102_121908.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Flowers from the Botanical Garden</h5>

    {% include resimg.html src="travel/malaysia/IMG_20200101_200344.jpg" class="with-viewer" %}
    <h5>Marina Bay Sands</h5>
</section>

<section class="text">
    <p>
        After 3 days in Singapore, our guts were full and our feet were tired. We delightfully went back to the Changi Airport and boarded a short flight for Langkawi, an island in northern Malaysia.
    </p>
</section>

<section class="map">
    {% include map.html location="Langkawi,Malaysia"%}
</section>

<!-- Langkawi -->
<section class="text">
    <h2>Langkawi</h2>
    <p>
        Langkawi is an archipelago of 100+ islands in the northernmost part of Western Malaysia. It is a popular international destination as well as for domestic tourism because of its beautiful beaches and duty-free status.
    </p>
    <p>
        We spent a little more than 2 days exploring the island on a scooter. When we weren't busy fending off pickpocketing monkeys, we were discovering some of the many surprises the island had to offer.
    </p>
</section>

<section>
    {% include resimg.html src="travel/malaysia/IMG_20200104_165708.jpg" class="with-viewer" %}

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/malaysia/IMG_20200103_191135.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200104_165653.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The roads in Langkawi were not busy. It would have taken less than 2 hours to drive around the circumference of the island.</h5>

    {% include resimg.html src="travel/malaysia/IMG_20200104_150348.jpg" class="with-viewer" %}

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/malaysia/IMG_20200104_103832.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200103_210225.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200104_103343.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Middle: </strong>Messiest meal in memory
    </h5>

    {% include resimg.html src="travel/malaysia/IMG_20200105_163158.jpg" class="with-viewer" %}

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/malaysia/IMG_20200103_203931.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200104_105213.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>Chili crab
        <strong>Right: </strong>Roti Canai (for breakfast, stuffed with meat and vegetables)
    </h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/malaysia/IMG_20200104_161327.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200106_110854.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>Villager fried rice
        <strong>Right: </strong>Ice cream with coconut and peanuts
    </h5>

    {% include resimg.html src="travel/malaysia/IMG_20200104_130249.jpg" class="with-viewer" %}

    {% include resimg.html src="travel/malaysia/IMG_20200105_180048.jpg" class="with-viewer" %}

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/malaysia/IMG_20200105_175347.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200105_175916.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Steepest cable car in Asia</h5>

    {% include resimg.html src="travel/malaysia/IMG_20200105_193721.jpg" class="with-viewer" %}
    <h5>Sunset in Langkawi</h5>
</section>

<section class="text">
    <p>
        The next part of this trip was improvised on the spot. Between Langkawi and Kuala Lumpur there were about 5 nights that were not planned.
    </p>
    <p>
        Although Langkawi had beautiful scenery and fun things to do, it lacked the sand and water clarity need to do snorkeling or diving. The next leg on our trip could have either been spending more time in mainland Malaysia, exploring the Cameron Highlands, but instead we opted to scratch our snorkeling itch and spend 2 days in Koh Lipe, Thailand.
    </p>
    <p>
        At the port we bought two ferry tickets and left the same day.
    </p>
</section>

<section class="map">
    {% include map.html location="Koh Lipe"%}
</section>

<!-- Koh Lipe -->
<section class="text">
    <h2>Koh Lipe</h2>
    <p>
        When we first arrived in Koh Lipe, we had to wait for some time while each passenger got processed through immigration one by one. The ride there had been a short, nausea inducing ferry (speed boat). One by one, officers asked for a payment because the island was technically a National Park.
    </p>
    <p>
        Koh Lipe is extremely small. It would take less than 2 hours to walk around the entire circumference of the island. However, this tiny island acts as the home base for diving activities in the nearby area. Some of the larger islands nearby are nearly uninhabited and have many unspoiled reefs. A diver's paradise.
    </p>
    <p>
        I did not have a diving license, so I instead opted for kayaking and snorkeling. It was a blast.
    </p>
</section>

<section>
    {% include resimg.html src="travel/malaysia/IMG_20200107_105218.jpg" class="with-viewer" %}
    <h5>The beaches and open ocean provided little protection for my pale skin. I could feel my sun burn starting immediately after taking my shirt off. I tried to apply sunscreen as much as possible but it was never enough</h5>

    {% include resimg.html src="travel/malaysia/IMG_20200107_181848.jpg" class="with-viewer" %}
    <h5>Sunset beach</h5>

    {% include resimg.html src="travel/malaysia/IMG_20200107_105227.jpg" class="with-viewer" %}
    <h5>We rented a kayak to reach tiny islands off the coast of the main island. Snorkeling off the beach was exhilarating. Seeing all the different sea creatures and going deeper and deeper until you reach a drop off point and feel the water starting to get cold is a frightening feeling.</h5>
</section>

<section class="text">
    <p>
        After a somewhat short stay at Koh Lipe, we took an arduous journey to Penang.
    </p>
    <p>
        First we took a small ferry to Pak Bara on the coast of Southern Thailand. From there we took a mini bus to Hat Yai, the largest city in southern Thailand. While on this mini bus I was reading about the recent violence in some of the provinces in southern Thailand. Hat Yai was very close to the action.
    </p>
    <p>
        After milling around in Hat Yai for a bit, we boarded yet another mini bus along with 5 other riders headed for Penang. Once we crossed the Malaysian border there was an immediate improvement in the infrastructure. I was pleasantly surprised at how developed Malaysia was, especially compared to the other Southeast Asian countries near it.
    </p>
    <p>
        On each trip I like to read a book. On this trip I was reading Steve Jobs by Walter Isaacson. I learned that when he was 19 he traveled to India for 7 months in search of spiritual enlightenment. For the rest of his life he took his spirituality very seriously, something I found very interesting.
    </p>
</section>

<section class="map">
    {% include map.html location="George Town, Malaysia"%}
</section>

<!-- Penang -->
<section class="text">
    <h2>Penang</h2>
    <p>
        Known as the food capital of Malaysia, Penang is located in the Malacca straits and has long been an important trade colony of the British Empire. The city is extremely diverse and has large populations of Chinese, Indian and Malay peoples. Many speak English well.
    </p>
    <p>
        But the reason I came here is because Penang is most well known for it's food. It's unique blend of cultures has allowed the city to have a variety of delicious foods. Many publications from around the world recognize it as so.
    </p>
</section>

<section>
    {% include resimg.html src="travel/malaysia/IMG_20200109_135308.jpg" class="with-viewer" %}

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/malaysia/IMG_20200109_140407.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200109_111302.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The historical architecture of Penang has been inscribed as a UNESCO World Heritage Site due to its unique architectural and cultural townscape without parallel anywhere in East and Southeast Asia</h5>

    {% include resimg.html src="travel/malaysia/IMG_20200109_123548.jpg" class="with-viewer" %}

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/malaysia/IMG_20200109_123242.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200108_211836.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200109_125027.jpg" class="with-viewer" %}
        </div>
        <div class="small">
            {% include resimg.html src="travel/malaysia/IMG_20200109_131915.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200109_125036.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200109_131859.jpg" class="with-viewer" %}
        </div>
    </div>

    {% include resimg.html src="travel/malaysia/IMG_20200109_131819.jpg" class="with-viewer" %}

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/malaysia/IMG_20200109_124630.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200109_104434.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Exploring the back streets of Penang</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/malaysia/IMG_20200108_214207.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200109_133231.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200110_075447.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>Chicken biryani
        <strong>Middle: </strong>Nasi Lemak
        <strong>Right: </strong>Roti canai
    </h5>
    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/malaysia/IMG_20200109_164353.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200109_191524.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200109_192907.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>Oyster omelet
        <strong>Middle: </strong>Laksa
        <strong>Right: </strong>Wonton noodles
    </h5>

    {% include resimg.html src="travel/malaysia/IMG_20200110_075503.jpg" class="with-viewer" %}
    <h5>On the last night in Penang I chatted with the security guard or our hotel for a while and we made a deal that if I wake up by 7am the next morning he would take me to his favorite roti canai breakfast joint nearby. I couldn't pass up that deal.</h5>
</section>

<section class="text">
    <p>
        A few hours after breakfast we took a 6 hour bus to Kuala Lumpur. On the bus ride I noticed almost all of the countryside was dominated by one type of crop, palm oil. I would later find out, after speaking to an environmental studies professor in my hostel, that palm oil is the most profitable legal crop per acre. It is used in cooking oil, commercial foods, personal care products, and biofuels. Much of Malaysia is dominated by the crop because of it's profitability, however mass production of this crop leads to habitat loss and increased greenhouse gases.
    </p>
</section>

<section class="map">
    {% include map.html location="Kuala%20Lumpur"%}
</section>

<!-- Kuala Lumpur -->
<section class="text">
    <h2>Kuala Lumpur</h2>
    <p>
        Kuala Lumpur is the largest and most important city in Malaysia as well at the 6th most visited city in the world (a surprise to me). Like many places in Malaysia, it is ethnically diverse, the two largest groups being Malay and Chinese.
    </p>
    <p>
        Being one of the fastest growing cities in southeast Asia, Kuala Lumpur (KL) seemed to have buildings sprouting up everywhere. In addition to having the tallest twin towers in the world, The Petronas Twin Towers, The Exchange 106 was under construction and is set to be the tallest building in southeast Asia.
    </p>
    <p>
        It is exciting to be in a place of such economic growth. Many people were optimistic about the future, if not for themselves then their kids. Kuala Lumpur has a large population of immigrants and from my observations many were working in construction and food service. Being in a place with so much development and energy around you was exhilarating.
    </p>
</section>

<section>
    {% include resimg.html src="travel/malaysia/IMG_20200112_140049.jpg" class="with-viewer" %}
    <h5>Petronas Towers on the left</h5>

    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/malaysia/IMG_20200112_153416.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200112_160557.jpg" class="with-viewer" %}
        </div>
    </div>

    {% include resimg.html src="travel/malaysia/IMG_20200112_134120.jpg" class="with-viewer" %}
    <h5>View from KL Tower</h5>
</section>

<section class="text">
    <p>
        Of course KL wasn't all skyscrapers and high end fashion malls. Many areas retained their colonial influenced architecture where the streets were crowded and the air smelled of delicious foods.
    </p>
    <p>
        Again I was on the search for biryani, one of my newly discovered favorite foods. KL did not disappoint. Inside of the many food markets I found what I was looking for.
    </p>
</section>

<section>

    {% include resimg.html src="travel/malaysia/IMG_20200111_124214.jpg" class="with-viewer" %}
    <h5>Mutton Biryani</h5>
    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/malaysia/IMG_20200111_122012.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200110_180037.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        <strong>Left: </strong>Food market
        <strong>Right: </strong>Colonial style architecture
    </h5>

    {% include resimg.html src="travel/malaysia/IMG_20200111_103318.jpg" class="with-viewer" %}
    <h5>Batu Caves</h5>
    <div class="image-set">
        <div class="small">
            {% include resimg.html src="travel/malaysia/IMG_20200111_101223.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/malaysia/IMG_20200111_100335.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>I thought the Batu Caves were highly overrated. You don't need to spend more than an hour there because there isn't much to see. You can enter for free, then walk up the stairs to enter a large cavern. There are many Hindu statues and shrines, but other than the large golden one outside none are very noteworthy in my opinion.</h5>

    {% include resimg.html src="travel/malaysia/IMG_20200111_175401.jpg" class="with-viewer" %}
    <h5>National Mosque of Malaysia</h5>

</section>