---
title: Conquering The North of Japan, Fall 2020
start_date: 2020-09-18
end_date: 2020-09-26
cities:
  - Nikko
  - Aizuwakamatsu
  - Yamagata
  - Akita
  - Aomori
  - Morioka
  - Sendai
  - Fukushima
  - Utsunomiya
featured_image: travel/conquering_north/IMG_20200924_140957_featured.jpg
hero_image: travel/conquering_north/IMG_20200924_140957_featured.jpg
---

<!-- Intro -->
<section class="text">
<p>
  My friend Sajib and I went on a road trip starting in Tokyo, going to Kyushu, Japan's southern island, and then coming back.
</p> 
<p>
  We camped every night for free while soaking in Japan's beautiful nature in 17 different prefectures.
</p>
</section>

<section>
    {% include resimg.html src="travel/conquering_north/route.png" class="with-viewer" %}
</section>

<!-- Day 1 -->
<section class="text">
	<h2>Day 1: Tokyo to Mt. Fuji</h2>
</section>

<section>
  {% include resimg.html src="travel/conquering_south/day_1_map.png" class="with-viewer" %}
</section>

<section class="text">
	<p>
		After work on Friday, we grabbed the rental car and headed out of Tokyo to start our epic road trip. Our goal was to reach Kyushu in the 9 day window we had. Other than goal, most of the trip was improvised as we went. Camping spots, food, and things to see were decided on the road
  </p>
  <p>
    After driving a few hours through medium traffic in Kanagawa, we started climbing the foothills of Mt. Fuji. After dark, we grabbed a bowl of ramen with gyoza and then found a spot to camp.
  </p>
  <p>
    We were both new to the concept of wild camping, but regardless it was a start!
  </p>
</section>

<section>
  {% include resimg.html src="travel/conquering_south/IMG-2c94c8699b1889ffeb6b008caa55cef7-V.jpg" class="with-viewer" %}
  <h5>
    The first campsite was also the worst. We hastily set up the tent in an open space near a side road off of the highway.
  </h5>
</section>

<section class="text">
  <h2>Day 2: Mt. Fuji to Otsu</h2>
</section>

<section>
  {% include resimg.html src="travel/conquering_south/day_2_map.png" class="with-viewer" %}
  {% include resimg.html src="travel/conquering_south/IMG-f82b326b1b015119c0c43e49e623d010-V.jpg" class="with-viewer" %}
  <h5>Good morning Fuji-san</h5>
</section>

<section>
  <p>
    On Saturday morning we woke up early, packed up the tent, and hit the road. Waking up outside with the sun and the birds was a welcomed change of pace. After grabbing a coffee at the Konbini, we headed towards Hamamatsu.
  </p>
  <p>
    On the way to Otsu, we traveled through Shizuoka, Hamamatsu, and Nagoya. 
  </p>
</section>

<section>
      <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/conquering_south/IMG_20200503_104815.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/conquering_south/IMG_20200503_101053.jpg" class="with-viewer" %}
        </div>
    </div>
  {% include resimg.html src="travel/conquering_south/IMG_20200503_110756.jpg" class="with-viewer" %}
  <h5>Himeji Castle</h5>
</section>