---
title: France, Summer 2021
start_date: 2021-07-08
end_date: 2021-07-19
cities:
- Lyon
- Avignon
- Saint-Raphaël
- Cannes
- Nice
- Monaco
featured_image: travel/france/IMG_20210714_110727_featured.jpg
hero_image: travel/france/IMG_20210714_110727_featured.jpg
image_roots:
- france
redirect_from:
- /france/
---

<!-- Intro -->
<section class="text">
    <p>
        After moving continents from Asia to Europe, I was excited to explore my new continent. So, in the summer of 2021, I drove from Frankfurt, Germany to the French Riviera, or Côte d'Azur, with my girlfriend, Elise. Her grandparents have an extra apartment that they let us stay at for about ten days during July 2021.
    </p>
    <p>
        This trip was the first time I had ever been to France, and I was very excited to see the country. I had heard too many great things about the beauty of the country and the delicious food. I was not disappointed.
    </p>
</section>

<section>
    {% include resimg.html src="travel/france/road_map.png" class="with-viewer" %}
    <h5>The drive from Frankfurt to Avignon took about 8 hours.</h5>
</section>


<!-- Avingon -->
<section class="text">
    <h2>Avignon</h2>
    <p>
        On the way to Côte d'Azur, we stopped for one night in Avignon. Located on the west bank of the River Rhône, the city is one of the most significant cities in the Provence-Alpes-Côte d'Azur region of southeastern France.
    </p>
    <p>
        The temperature became gradually warmer, sunnier, and drier the further south we went. When we arrived in Avignon, I immensely enjoyed the change in the climate. It reminded me a lot of the weather in California.
    </p>
</section>

<section>
    {% include resimg.html src="travel/france/IMG_20210709_111221.jpg" class="with-viewer" %}
    <h5>Overlooking the River Rhône</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/IMG_20210709_101639.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210709_110151.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210709_111039.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        Between 1309 and 1377, Avignon hosted the Catholic Churches popes. The picture above is the Palais des Papes, where the pope lived.</a>
    </h5>
    {% include resimg.html src="travel/france/IMG_20210709_101744.jpg" class="with-viewer" %}
    <h5>Overlooking the city of Avignon</h5>
</section>

<!-- Saint Raphael -->
<section class="text">
    <h2>Saint-Raphaël</h2>
    <p>
        After checking out Avignon in the morning, we left for Saint-Raphaël in the early afternoon. When we arrived we met Elise's grandparents at their second apartment. The apartment was small, but extremely clean and well kept. It was perfect for our week long holiday.
    </p>
    <p>
        Saint-Raphaël is a commune in the Provence-Alpes-Côte d'Azur region, and has a population of 35,042. It lies directly east of a larger and older town, Fréjus, which is the economic center of the region. The city has beautiful architecture and views of the Mediterranean Sea.
    </p>
</section>

<section>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/IMG_20210709_202850.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210709_203143.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        Architecture of Saint-Raphaël
    </h5>
    {% include resimg.html src="travel/france/IMG_20210709_200447.jpg" class="with-viewer" %}
    <h5>Enjoying the beach at Saint-Raphaël</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/IMG_20210710_084101.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210710_084104.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        Views from the apartment</a>
    </h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/IMG_20210711_193407.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210711_200609.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210711_204442.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>
        The food in France was incredible. <strong>Left: </strong>Salad as a starter. <strong>Middle: </strong> Roasted duck as the main course. <strong>Right: </strong> Floating island (île flottante) for dessert.
    </h5>
</section>

<!-- Coast road trip -->
<section class="text">
    <h2>Massif de l'Esterel</h2>
    <p>
        After relaxing for the rest of the afternoon, we drove east along the Côte d'Azur towards Cannes in an area called Massif de l'Esterel. Massif de l'Esterel is a sprawling volcanic mountain range offering sweaping sea views. It reminded me a lot of Highway 1 in California.
    </p>
    <p>
        The two-lane highway hugged the windy coast and had stunning views of the ocean around nearly every corner. There were small communities along the way, compromising of mostly mansions and villas. This area was primarily for the wealthy.
    </p>
</section>

<section>
    {% include resimg.html src="travel/france/IMG_20210710_164256.jpg" class="with-viewer" %}
    <h5>Facing back towards Saint-Raphaël</h5>
    {% include resimg.html src="travel/france/IMG_20210710_164107.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/IMG_20210710_164118.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210710_165048.jpg" class="with-viewer" %}
        </div>
    </div>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/IMG_20210710_164206.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210710_164748.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210710_164757.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>This looked like a prime spot for cliff jumping</h5>
    {% include resimg.html src="travel/france/IMG_20210710_162636.jpg" class="with-viewer" %}
    <h5>This bridge was reminiscent of old Roman architecture. The Romans once dominated this region.</h5>
</section>

<!-- Inland road trip -->
<section class="text">
    <h2>Randonnée Canal du Verdon</h2>
    <p>
        On Sunday we drove to Randonnée Canal du Verdon, a beautiful canal trail which runs along the lower gorges of Verdon. Limestone dominated the cliffs of the Verdon River, which is named for its turquoise-green color water. The standing water was created by one of the several dams in the area.
    </p>
</section>

<section>
    {% include resimg.html src="travel/france/IMG_20210711_090549.jpg" class="with-viewer" %}
    <h5><a href="https://goo.gl/maps/AahYhLHxG2bAVPBt7">Randonnée Canal du Verdon</a> - The turquoise-green color of the water was incredible</h5>
    {% include resimg.html src="travel/france/IMG_20210711_113814.jpg" class="with-viewer" %}
    <h5>Many people rented kayaks and motorized boats to explore deeper into the gorge. The Verdon Gorge attracts many rock climbers for its more than 1,500 climbing routes on good limestone rock.</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/IMG_20210711_094355.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210711_095752.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>That day was blazing and sunny. I had to be careful all day not to get overheated and to avoid a sun burn</h5>
    {% include resimg.html src="travel/france/IMG_20210711_100831.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/IMG_20210711_100847.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210711_100852.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5><a href="https://goo.gl/maps/ph3wfGzBE21CBR4Y9">Ravin de Sainte-Maxime</a>: After walking a couple of hours in the intense sun, we stumbled into a shaded ravine of the gorge and were unexpectadly met with a cool, wet, shaded grove of trees.</h5>

</section>

<section class="text">
    <p>
        On the way to the village of Moustiers-Sainte-Marie, we drove through some lavender and sunflower fields. The Côte d'Azur region is famous for its lavender.
    </p>
    <p>
        This is the same region that <a href="https://www.vangoghmuseum.nl/en/art-and-stories/vincents-life-1853-1890/south-of-france">Vincent Van Gogh</a> lived from 1888 to 1889. I learned a couple months later at the Vincent Van Gogh Museum in Amsterdam that Vincent's time in South of France was a turbulent period in his life. He fell ill and cut off his ear, but he kept working despite everything. During this time, he even made some of his most famous artworks.
    </p>
</section>

<section>
    {% include resimg.html src="travel/france/IMG_20210711_122007.jpg" class="with-viewer" %}
    <h5>Lavender fields</h5>
    {% include resimg.html src="travel/france/IMG_20210711_122259.jpg" class="with-viewer" %}
    <h5>Sunflower fields</h5>
    {% include resimg.html src="travel/france/IMG_20210711_123655.jpg" class="with-viewer" %}
    <h5>Overlooking the Lake of Saint-Croix, where the Verdon Groge empties into.</h5>
</section>

<!-- Moustiers-Sainte-Marie -->
<section class="text">
    <h2>Moustiers-Sainte-Marie</h2>
    <p>
        Moustiers-Sainte-Marie is considered one of the most beautiful villages in the South of France. According to the legend, during the Crusades the knight Bozon de Blacas was held prisoner by the Saracens; he vowed to hang a star over his village if he could return. No one knows how the star was originally hung there.
    </p>
</section>

<section>
    {% include resimg.html src="travel/france/IMG_20210711_133811.jpg" class="with-viewer" %}
    <h5>Moustiers-Sainte-Marie</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/IMG_20210711_132004.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210711_135002.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/france/IMG_20210711_135342.jpg" class="with-viewer" %}
</section>

<!-- Nice -->
<section class="text">
    <h2>Nice</h2>
    <p>
        Nice is the quintessential city of the French Riveria. With a population of nearly one million, the city has much to offer than its famous promenade. The old town of the city is packed with amazing restaurants and stunning architecture. I could have enjoyed walking these streets for many days.
    </p>
</section>

<section>
    {% include resimg.html src="travel/france/IMG_20210712_120347.jpg" class="with-viewer" %}
    <h5>Promenade des Anglais</h5>
    {% include resimg.html src="travel/france/IMG_20210712_142243.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/IMG_20210712_112000.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210712_113414.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>There were many famous hotels on the promendade. Here are a few of them.</h5>
    {% include resimg.html src="travel/france/IMG_20210712_115711.jpg" class="with-viewer" %}
    <h5>Overlooking Port Lympia in Nice from <a href="https://goo.gl/maps/c6suZH7NrsZYw6Zo7">Castle Hill</a>. The port hosts superyachts and is immediately surrounded by cafes and boardwalks and behind there are mountains rising up in the distance.</h5>
    {% include resimg.html src="travel/france/IMG_20210712_122744.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/IMG_20210712_125607.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210712_143533.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210712_125823.jpg" class="with-viewer" %}
        </div>
    </div>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/IMG_20210712_144706.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210712_142616.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The architecture in Nice was stunning</h5>
    {% include resimg.html src="travel/france/IMG_20210712_154040.jpg" class="with-viewer" %}
    <h5>Before boarding the train to Monaco, I stopped for some ice cream at <a href="https://goo.gl/maps/Mk1MjkfuB5JgyUGX8">Café des Delices</a></h5>
</section>

<!-- Monaco -->
<section class="text">
    <h2>Monaco</h2>
    <p>
        After spending the morning and early afternoon exploring Nice, I hopped on a twenty-minute train to Monaco. With only 38,682 residents, Monaco is the second smallest sovereign state in the world, but also one of the wealthiest per capita. The state has no income tax, low business taxes, and is famous for being a tax haven.
    </p>
</section>

<section>
    {% include resimg.html src="travel/france/IMG_20210712_183154.jpg" class="with-viewer" %}
    <h5>Port Hercule - View from <a href="https://goo.gl/maps/DFajwAiBVrhjL4e3A">Prince's Palace of Monaco</a></h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/IMG_20210712_184751.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210712_183648.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5><strong>Left: </strong>Port de Fontvieille <strong>Right: </strong>Old Town</h5>
    {% include resimg.html src="travel/france/IMG_20210712_181616.jpg" class="with-viewer" %}
    <h5>Monaco Grand Prix</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/IMG_20210712_171459.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210712_170706.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210712_172017.jpg" class="with-viewer" %}
        </div>
    </div>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/IMG_20210712_173256.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210712_181924.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5><strong>Left: </strong>Monaco has the second most cars per capita in the world. <strong>Right: </strong>Circuit de Monaco finish line</h5>

</section>

<!-- Cannes -->
<section class="text">
    <h2>Cannes</h2>
    <p>
        Yet another famous French Rivieria city. Smaller than Nice, Cannes also hosts many music and art festivals, one of which was taking place while we were there.
    </p>
</section>

<section>
    {% include resimg.html src="travel/france/IMG_20210714_155739.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/IMG_20210714_122921.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210714_160948.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5><strong>Left: </strong>Ritz Carlton <strong>Right: </strong>Overlooking Cannes</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/IMG_20210714_125751.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210714_125745.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>Checking out some of the superyachts in the port.</h5>
    {% include resimg.html src="travel/france/IMG_20210714_140530.jpg" class="with-viewer" %}
    <h5>The long awaited French oysters.</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/IMG_20210714_151311.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210714_151252.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210714_151257.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>I could not get enough of French bakeries and French desserts.</h5>

</section>

<!-- Iles de Lérin -->
<section class="text">
    <h2>Iles de Lérin</h2>
    <p>
        Off the coast of Cannes, this island is famous for its large fort and forest walks. Its fort is said to have housed the famous Man in the Iron Mask.
    </p>
</section>

<section>
    {% include resimg.html src="travel/france/IMG_20210716_112106.jpg" class="with-viewer" %}
    <h5>View from atop <a href="https://goo.gl/maps/vDjdHfu25HP5v49MA">Fort Royal Sainte-Marguerite Island</a></h5>

    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/IMG_20210716_114550.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210716_114911.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/france/IMG_20210716_112719.jpg" class="with-viewer" %}
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/IMG_20210716_113903.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210716_114730.jpg" class="with-viewer" %}
        </div>
    </div>
    {% include resimg.html src="travel/france/IMG_20210716_124626.jpg" class="with-viewer" %}

</section>

<!-- Frejus -->
<section class="text">
    <h2>Fréjus</h2>
    <p>
        Before ending our French adventure, we relaxed in the nearby area, enjoying the beach, exploring the nearby city of Fréjus, and of course filling up on more French food.
    </p>
</section>

<section>
    {% include resimg.html src="travel/france/IMG_20210717_153429.jpg" class="with-viewer" %}
    <h5>Fréjus</h5>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/IMG_20210717_152551.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210717_152604.jpg" class="with-viewer" %}
        </div>
    </div>
    <div class="image-set">
        <div class="large">
            {% include resimg.html src="travel/france/IMG_20210715_134824.jpg" class="with-viewer" %}
            {% include resimg.html src="travel/france/IMG_20210715_135827.jpg" class="with-viewer" %}
        </div>
    </div>
    <h5>The dessert buffet at <a href="https://goo.gl/maps/zV6oXUZM2XVnpHNR8">Casino Barrière</a> was absolutely incredible. All of this was eaten by one person (me).</h5>
    {% include resimg.html src="travel/france/IMG_20210719_070334.jpg" class="with-viewer" %}
    <h5>We grabbed some Pain au chocolat from <a href="https://goo.gl/maps/kF8xDASLAhtptGtu8">Boulangerie Patisserie Roman Corretel</a> before leaving Saint-Raphaël.</h5>

</section>